/*--------------------------------------------------------------
# 404 Page
--------------------------------------------------------------*/
.error404 {
  @include texture-background;
  text-align: center;
  .container {
    width: 80%;
    max-width: 700px;
    margin: 5rem auto;
    background-color: #e0f1f7;
    padding: 3rem 1rem;
    @include desktop-size {
      width: 70%;
      background-color: #f2fafc;
      max-width: 1000px;
    }
  }
  .text-wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-size {
    }
  }
  .page-title {
    color: black;
    text-align: center;
    font-family: Raleway, serif;
    font-weight: 500;
    margin: 0;
    font-size: 40px;
    @include tablet-size {
      font-size: 50px;
    }
    @include desktop-size {
      font-size: 60px;
      font-weight: 700;
    }
  }
  .page-content {
    text-align: center;
    font-size: 16px;
    @include tablet-size {
      font-size: 18px;
      p {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
    @include desktop-size {
      text-align: center;
      font-size: 1.5rem;
      p {
        margin-left: 75px;
        margin-right: 75px;
      }
    }
  }
  .mixin-button-404 {
    @include main-cta;
  }
}
