/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.about-us {
  width: 100%;
  p {
    margin-bottom: 4rem;
  }

  .about-header {
    @include banner-img;
  }
  .background-container {
    @include texture-background;
  }
  .about-page-box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-size {
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      top: -420px;
    }
    @include large-desktop-size {
      top: -500px;
    }
    .about-clt-logo {
      width: 200px;
      margin: 2rem auto;
      @include desktop-size {
        margin-right: 0;
        padding-right: 50px;
        width: 350px;
      }
      @include extra-large-desktop-size {
        margin-top: 0;
      }
    }
    h2 {
      @include page-title;
      width: 190px;
      margin-top: 0px;
      @include desktop-size {
        &:first-of-type {
          width: 200px;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          align-self: start;
          margin: 10px 0 0 50px;
        }
        &:nth-of-type(2) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          align-self: start;
          margin: 80px auto 0;
        }
        &:nth-of-type(3) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          align-self: start;
          margin: 80px auto 0;
        }
        &:nth-of-type(4) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 5;
          align-self: start;
          margin: 80px auto 0;
        }
      }
      @include extra-large-desktop-size {
        &:first-of-type {
          margin-right: 630px;
        }
      }
    }
    p {
      font-family: $font__main;
      text-align: left;
      letter-spacing: 1px;
      margin: 0 25px 50px;
      max-width: 700px;
      @include tablet-size {
        margin: 0 50px 50px;
      }
      @include desktop-size {
        &:first-of-type {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          margin: 90px 0 0 50px;
          max-width: 420px;
        }
        &:nth-of-type(2) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          margin: 160px 50px 0;
          padding-left: 30px;
          justify-self: center;
          max-width: 800px;
        }
        &:nth-of-type(3) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          margin: 160px 50px 0;
          padding-left: 30px;
          justify-self: center;
          max-width: 800px;
        }
        &:nth-of-type(4) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 5;
          margin: 160px 50px 0;
          padding-left: 30px;
          justify-self: center;
          max-width: 800px;
        }
      }
      @include extra-large-desktop-size {
        font-size: 18px;
      }
    }
  }
  .main-carousel {
    width: 85vw;
    margin: 0 auto;
    clear: both;
    height: 400px;

    @include tablet-size {
      height: 450px;
    }
    @include desktop-size {
      width: 70vw;
      height: 500px;
      position: relative;
      top: -250px;
      padding-top: 0;
    }
    @include large-desktop-size {
      top: -250px;
      height: 600px;
    }
    .carousel-cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 350px;
      background-size: cover;
      background-position: center;

      @include tablet-size {
        height: 400px;
      }

      @include desktop-size {
        height: 450px;
      }

      @include large-desktop-size {
        height: 550px;
      }

      .about-cfs-years {
        font-family: $font__accent;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 80px;
        color: black;
        @include desktop-size {
          font-size: 35px;
          font-weight: bold;
          margin-top: 10rem;
        }
      }
      p {
        margin: 10px 10px;
        text-align: center;
        color: black;
        overflow: hidden;
        @include desktop-size {
          margin-top: 3rem;
          width: 550px;
          font-size: 18px;
          &:nth-of-type(2) {
            margin-top: 0;
          }
        }
        @include extra-large-desktop-size {
          font-size: 20px;
        }
      }
    }
  }
  .more-info {
    @include more-info;
    margin: 100px 0 40px;
    @include desktop-size {
      margin: 100px 0 300px;
    }
  }
}
