/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.page-template-about {

  @include desktop-size  {
    h1, h2, h3, h4, h5, h6  {
      clear: none;
    }
    p {
      margin-bottom: 4rem;
    }
  }

  .about-header {
    @include banner-img; 
  }

  .about-page-box{
    width: 85vw;
    margin: 0 auto;
    text-align: center;

    @include desktop-size {
      margin-top: 70px;
      width: 60vw;
    }

    .about-clt-logo {
      width: 200px;
      margin: 2rem auto;

      @include desktop-size {
        float: left;
        width: 300px;
        margin-right: 50px;
        margin-top: 50px;

        @include extra-large-desktop-size {
          margin-right: 0;
        }

      }
    }

    h2 {
      @include page-title;

      @include desktop-size {
        &:nth-of-type(1) {
          margin-right: 360px;
        }
      }
 
    }

    p {
      font-family: $font__main;
      text-align: left;
      letter-spacing: 1px;
      
    }
  }
    .main-carousel {
      width: 85vw;
      margin: 0 auto;
      clear: both;           
      height: 400px;

      @include desktop-size {
        width: 70vw;
        height: 500px;
      }
      
      .carousel-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 350px;
        background-size: cover; 	
        background-position: center;

        @include desktop-size {
          min-height: 450px;
        }

        .about-cfs-years {
          font-family: $font__accent;
          font-weight: 500;
          font-size: 25px;
          margin-bottom: 0;
          margin-top: 80px;
          color: black;

          @include desktop-size {
            font-size: 35px;
            font-weight: bold;
            margin-top: 10rem;
          }
        }

        p {
          margin: 10px 10px;
          text-align: center;
          color: black;
          overflow: hidden;

          @include desktop-size {
            margin-top: 3rem;
            width: 550px;
            font-size: 18px;

            &:nth-of-type(2) {
              margin-top: 0;
            }


          }
        }
      }

    }

  .button-container {
    @include more-info;
    text-align: center;
    margin-top: 5rem;
  }


}

