/*--------------------------------------------------------------
# Portfolio Archive Page
--------------------------------------------------------------*/

.portfolio-page-container {
  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      background: white;
      width: 32%;
      border: 2px $color_button solid;
      padding: 12px 0;
      margin-top: 5px;
      @include button-hover;
      &:focus {
        outline: 0;
      }
      &.selected {
        background-color: $color_button;
        color: black;
        box-shadow: none;
      }
    }
  }
  .error-message {
    @include error-message;
  }
  .portfolio-grid-container {
    padding: 15px 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    .portfolio-grid-item {
      position: relative;
      height: 290px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
      }
      p {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        text-align: center;
        display: block;
        width: 100%;
        background-color: rgba(134, 133, 133, 0.15);
        min-height: 60px;
      }
    }
  }
  .more-info {
    margin: 30px 0 30px 0;
    h2 {
      margin: 0;
      font-size: 18px;
      .contraction {
        display: none;
        @include tablet-size {
          display: inline;
        }
      }
    }
    button {
      @include main-cta;
    }
  }
}
