/*--------------------------------------------------------------
# Partners Page
--------------------------------------------------------------*/

.partners-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop-size {
    font-size: 18px;
  }
  @include large-desktop-size {
    font-size: 20px;
  }
  .partner-page-content {
    margin: 0 30px;
    @include tablet-size {
      margin: 0 50px;
    }
    @include desktop-size {
      margin: 0 50px 50px;
      width: 100%;
      text-align: center;
      @include texture-background;
    }
    h2 {
      @include page-title;
      width: 190px;
      margin-top: 30px;
      @include desktop-size {
        display: block;
      }
    }
    p {
      line-height: 1.5;
      max-width: 730px;
      @include desktop-size {
        display: inline-block;
      }
    }
  }
  .flickity-container {
    max-width: 830px;
    width: 100%;
    @include tablet-size {
      margin: 0 50px 20px;
    }
    @include desktop-size {
      max-width: 900px;
      position: relative;
      top: -65px;
    }
    @include large-desktop-size {
      max-width: 1000px;
      top: -150px;
    }
    .main-carousel {
      margin: 0 30px 60px;
      @include tablet-size {
        margin: 0 50px 60px;
      }
      @include desktop-size {
        width: 100%;
        margin: 0 auto 60px;
      }
      .carousel-cell {
        border: 1px solid $footer_darker_color;
        @include desktop-size {
          border: 0;
          display: flex;
          align-items: center;
        }
        // override gloval hover
        &:hover {
          opacity: 1;
        }
        .partner-info {
          @include desktop-size {
            width: 50%;
          }
          img {
            width: 45%;
            height: auto;
            display: block;
            margin: 30px auto 0;
            @include desktop-size {
              width: 55%;
              position: relative;
              left: -15px;
            }
          }
          p {
            margin: 30px;
            @include desktop-size {
              margin-left: 0;
            }
            @include large-desktop-size {
              margin-left: 30px;
            }
          }
        }
        .partner-meta {
          padding: 30px 0 0;
          border-top: 4px $border_color solid;
          @include desktop-size {
            border-left: 4px $border_color solid;
            border-top: 0;
            width: 50%;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 280px;
          }
          p {
            margin: 0 30px 30px;
            &:first-of-type {
              font-weight: 700;
            }
            &:last-of-type {
              @include desktop-size {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  .contact-container {
    padding: 20px;
    width: 100%;
    background-color: #e0f1f7;
    text-align: center;
    @include tablet-size {
      padding: 20px 60px;
    }
    @include desktop-size {
      font-size: 24px;
      padding: 40px;
      margin: 0;
      max-width: 900px;
      position: relative;
      top: -65px;
    }
    @include large-desktop-size {
      max-width: 1000px;
      top: -110px;
    }

    p {
      margin: 20px auto 30px;
      @include tablet-size {
        max-width: 730px;
      }
    }
    a {
      text-decoration: underline;
    }
    p:last-of-type {
      font-weight: 500;
      @include desktop-size {
        font-size: 20px;
      }
    }
  }
}
