/*--------------------------------------------------------------
# Portfolio Archive Page
--------------------------------------------------------------*/

.portfolio-page-container {
  .banner-container {
    @include desktop-size {
      @include texture-background;
    }
    .button-container {
      margin: 0 auto;
      width: 100%;
      max-width: 450px;
      display: flex;
      justify-content: space-around;
      @include phablet-size {
        padding-top: 15px;
      }
      @include tablet-size {
        padding-top: 50px;
      }
      @include desktop-size {
        padding-top: 75px;
      }
      button {
        background: white;
        width: 32%;
        border: 2px $color_button solid;
        padding: 12px 0;
        margin-top: 5px;
        @include phablet-size {
          width: 150px;
          &:first-of-type {
            border-right: 0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
          &:last-of-type {
            border-left: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
        @include desktop-size {
          padding: 18px 0;
        }
        @include button-hover;
        &:focus {
          outline: 0;
        }
        &.selected {
          background-color: $color_button;
          color: black;
          box-shadow: none;
        }
      }
    }
    .error-message {
      @include error-message;
    }
  }
  .offset-container {
    @include desktop-size {
      position: relative;
      top: -195px;
    }
    @include large-desktop-size {
      top: -300px;
    }
    .portfolio-grid-container {
      padding: 15px;
      margin: 0 auto 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      max-width: 800px;
      @include tablet-size {
        grid-gap: 25px;
        padding: 25px;
      }
      @include desktop-size {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0;
        padding: 30px 30px 0;
        grid-gap: 30px;
        max-width: 1000px;
      }
      @include large-desktop-size {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1350px;
        grid-gap: 35px;
        padding: 35px 35px 0;
      }
      .portfolio-grid-item {
        position: relative;
        height: 220px;
        @include phablet-size {
          height: 270px;
        }
        @include large-desktop-size {
          height: 310px;
        }
        &:hover {
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1),
            0 5px 10px 0 rgba(0, 0, 0, 0.1);
        }
        .img-container {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          img {
            overflow: hidden;
            object-fit: cover;
            height: 100%;
            transition: transform 0.4s;
            &:hover {
              transform: scale(1.25);
            }
          }
        }
        .title-container {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(240, 250, 252, 0.75);
          width: 100%;
          min-height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          line-height: 1.1;
          padding: 0 10px;
          hyphens: auto;
          p {
            margin: 0;
          }
          @include desktop-size {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  .more-info {
    @include more-info;
    @include desktop-size {
      margin-top: 0;
      position: relative;
      top: -90px;
    }
    @include large-desktop-size {
      top: -125px;
    }
  }
}
