/*--------------------------------------------------------------
# FAQ Page
--------------------------------------------------------------*/
.post-type-archive-faq,
.page-template-archive-faq {
  .faq-header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    @include desktop-size {
      @include texture-background;
    }

    i {
      color: #5390a9;
      font-size: 200px;
      margin: 30px 0;
    }

    .header-container {
      @include page-title;
      h1 {
        margin: 0;
      }
    }
  }

  .faq {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
    border-top: 0.1px solid #11344d;

    @include desktop-size {
      justify-content: center;
    }

    .faq_question {
      display: inline-block;
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      color: black;
      font-weight: 500;
      font-size: 18px;
      width: 80%;
      padding: 20px 20px;
      margin-top: 0;

      @include desktop-size {
        width: 70%;
        font-size: 20px;
        padding-right: 50px;
        padding-top: 50px;
        height: 140px;
        margin-bottom: 0;
      }
    }
    .faq-arrow-right {
      width: 30px;
      cursor: pointer;
    }
  }

  .faq-all-container {
    @include large-desktop-size {
      position: relative;
      top: -100px;
      border-bottom: 0.1px solid #11344d;
    }
  }

  // Faq show & hide answer
  .faq_container {
    .faq_answer_container {
      display: none;
      width: 90%;
      margin: 0 auto;
      text-align: justify;
      font-size: 14px;
      color: black;
      font-family: $font__main;

      @include desktop-size {
        font-size: 18px;
        width: 55%;
        margin-left: 17rem;

        p {
          margin-top: 0;
        }
      }
    }
    .faq-arrow-right {
      transition: 0.5s;
      transform: rotate(0);
    }
    &.open {
      background-color: #e0f1f7;
      transition: background-color 0.3s ease-in;

      @include desktop-size {
        background: #f2fafc;
      }
      .faq_answer_container {
        display: block;

        @include desktop-size {
          height: 250px;
          overflow: hidden;
        }
      }
      .faq-arrow-right {
        transform: rotate(90deg);
      }
    } // end .open
  }

  // don't use mixin here, there's some css magic that is swapping
  // borders, positions, etc.
  .more-info-container {
    text-align: center;
    @include large-desktop-size {
      position: relative;
      top: -50px;
    }
    .contraction {
      display: none;
      @include tablet-size {
        display: inline;
      }
    }
    .more-info {
      margin: 0;
      padding-top: 50px;
      border-top: 0.1px solid #11344d;
      font-size: 20px;
      @include tablet-size {
        font-size: 24px;
      }
      @include desktop-size {
        font-size: 26px;
      }
      @include large-desktop-size {
        border-top: 0;
        padding: 0;
        font-size: 28px;
        display: inline-block;
      }
    }

    .button-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 10px;
      @include large-desktop-size {
        margin-bottom: 0;
      }
      .mixin-button {
        @include main-cta;
      }
    }
  }
}
