/*--------------------------------------------------------------
# FAQ Page
--------------------------------------------------------------*/

.post-type-archive-faq {

  .faq-header {
    width: 100%;
    height: 30vh;
   text-align: center;

   &::before {
    font-family: FontAwesome;
    content: "\f059";
    font-size: 100px;
   }

  }

  article {
    width: 70vw;
    margin: 0 auto;
  }








}
