/*--------------------------------------------------------------
# Contact Us Page
--------------------------------------------------------------*/

.contact-us {
  .entry-header {
    text-align: center; 
    font-size: 0.6rem;
    font-family: Raleway, serif;
    padding-bottom: 3rem;
    .entry-title {
      font-weight: 500;
      display: block;
      margin: 0 auto; 
      width: 33%; 
      padding-top: 20px; 
      border-bottom: 4px solid #4da7cd;
    }
  }
  .contact-info {
    width: 60%;
    margin: 0 auto;
    font-family: Raleway, serif;
    font-weight: 500;
    padding-bottom: 1rem;
    i {
      display: inline;
    }
    p {
      margin: 0 1rem;
      padding-bottom: 0.8rem;
      padding-left: 2rem; 
      text-indent: -2.3rem;
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
    a {
      padding-left: 1rem;
      font-size: 1rem;
    }
  }
  .map {
    border-top: 4px solid #4da7cd;
  }
  .entry-content { //gravity form css
    border: 1px solid #F2FAFC;
    border-radius: 10%;
    padding: 0 1rem;
    background-color: #F2FAFC;
    @include desktop-size {
      margin: 0 auto;
      width: 70%;
      border-radius: 5%;
    }
    .gform_title {
      font-family: Raleway, serif;
      font-weight: 550;
      text-align: center;
      padding-bottom: 1.5rem;
      @include desktop-size {
        font-size: 1.5rem;
      }
    }
    .gform_wrapper label.gfield_label {
      font-weight: 200;
      letter-spacing: 0.1rem;
      @include desktop-size {
        font-weight: 450;
        display: flex;
        padding-left: 16.3rem;
        letter-spacing: 0;
      }
    }
    .gform_wrapper {
      .medium {
        @include desktop-size {
          width: 40%;
        }
      }
    }
    .gform_body {
      .gform_fields {
        @include desktop-size {
          text-align: center;
        }
      }
    }
    input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
      border: 1.3px solid black;
    }
    .gform_footer{
      text-align: center;
      .gform_button {
        background-color: $color_button;
        width: 50%;
        border-radius: 10pt;
        font-weight: 500;
        letter-spacing: 0.1rem;
        @include desktop-size {
          width: 30%;
          padding: 0.5rem 0;
        }
      }
    }
  }
}
