/*--------------------------------------------------------------
# Contact Us Page
--------------------------------------------------------------*/
.contact-us {
  text-align: center;
  .banner-container {
    @include desktop-size {
      @include texture-background; 
      position: relative;
      top: -80px;
    }
    @include large-desktop-size {
      top: -80px;
    }
  }
  .offset-container {
    @include desktop-size {
      position: relative; 
      top: -15px;
    }
    @include large-desktop-size {
      top: 60px;
    }
  }
  .entry-header {
    @include page-title;
    text-align: center;
    width: 150px;
    margin-bottom: 2rem;
    @include desktop-size {
      width: 200px;
    }
    .entry-title{
      display: inline-block;
      font-weight: 700;
      font-size: 24px;
      @include desktop-size {
        margin-top: 3rem;
      }
      @include large-desktop-size {
        margin-top: 8rem;
      }
    }
  }
  .upper-content {
    width: 100%;
    margin: 0 auto;
    @include desktop-size {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      margin-top: 5rem;
    }
    @include large-desktop-size {
      margin: 0 auto;
      max-width: 993.6px;
      margin-top: 6rem;
    }
    @include extra-large-desktop-size {
      margin: 0 auto;
      max-width: 52%;
      margin-top: 7rem;
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: 0 auto;
      width: 100%;
      font-family: $font__accent;
      font-weight: 500;
      padding-bottom: 1rem;
      @include desktop-size {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: left;
        max-width: 15%;
      }
      @include large-desktop-size {
        max-width: 25%;
      }
      i {
        display: inline;
        font-size: 0.9rem;
        @include tablet-size {
          font-size: 1rem;
        }
        @include desktop-size {
          font-size: 1rem;
        }
      }
      p {
        margin: 0 auto;
        max-width: 133px;
        width: 100%;
        padding-bottom: 0.8rem;
        text-indent: -1.7rem;
        font-size: 1rem;
        line-height: 1.5rem;
        @include desktop-size {
          width: 80%;
        }
      }
      .text {
        font-family: Raleway;
        font-size: 1rem;
        font-weight: 400;
        @include desktop-size {
          font-weight: 500;
        }
        @include large-desktop-size {
          font-size: 20px;
        }
      }
      a {
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 400;
        font-family: Raleway;
        @include tablet-size {
          font-size: 1rem;
        }
        @include desktop-size {
          font-size: 1rem;
          font-weight: 500;
        }
        @include large-desktop-size {
          font-size: 20px;
        }
      }
    }
    .map-container {
      border-top: 4px solid $border_color;
      height: 50vh;
      width: 100%; 
      padding-bottom: 1.5rem;
      @include desktop-size {
        border-top: none;
        height: 250px;
        width: 500px; 
        border-left: 4px solid $border_color;
        padding-left: 3rem;
      }
      #map-canvas {
        width: 100%;
        height: 100%;
        @include desktop-size {
          width: 75%;
          height: 100%;
        }
        @include large-desktop-size {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .contact-container {
    //gravity form css
    // Leave "position: relative;"
    position: relative;
    border: 1px solid #f2fafc;
    border-radius: 10px;
    padding: 0 1rem;
    margin-bottom: 2rem;
    background-color: #f2fafc;
    @include desktop-size {
      margin: 0 auto;
      width: 50%;
      border-radius: 10px;
    }
    .gform_title {
      font-family: $font__accent;
      font-weight: 600;
      text-align: center;
      padding-bottom: 1.5rem;
      font-size: 1rem;
      @include desktop-size {
        font-size: 2rem;
      }
    }
    .gform_wrapper label.gfield_label {
      font-weight: 200;
      letter-spacing: 0.1rem;
      @include desktop-size {
        font-weight: 450;
        display: flex;
        letter-spacing: 0;
      }
    }
    .gform_wrapper {
      display: flex; 
      justify-content: center;
      .validation_error {
        display: none;
      }
      .validation_message {
        padding: 0;
        font-size: 12px;
        text-align: left;
      }
      input[type='text'].medium {
        width: 100%;
      }
      .gfield_error {
        padding: 0;
        border: 0;
        margin-bottom: 25px;
        width: 100%;
        .ginput_container {
          margin: 5px 0 !important;
          input {
            width: 100%;
          }
        }
      }
    }
    .gform_body {
      .gform_fields {
        @include desktop-size {
          text-align: center;
        }
      }
    }
    input[type='email'],
    input[type='password'],
    input[type='search'],
    input[type='text'],
    input[type='url'],
    textarea {
      border: 1.3px solid black;
    }
    .gform_footer {
      text-align: center;
      .gform_button {
        @include main-cta;
        width: 220px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .featured-person {
    @include desktop-size {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 734.4px;
      margin: 0 auto;
      padding: 2rem 0;
    }
    @include large-desktop-size {
      width: 720px;
      margin: 0 auto;
      padding-bottom: 5rem;
    }
    @include extra-large-desktop-size {
      width: 729.6px;
      margin: 0 auto;
      padding-bottom: 5rem;
    }
    .featured-person-photo {
      border-bottom: 4px solid #4da7cd;
      @include desktop-size {
        border-bottom: none;
        border-right: 4px solid #4da7cd;
        margin-right: 4rem;
        padding-top: 2rem;
      }
      img {
        padding: 1rem;
        max-width: 320px;
        height: auto;
        @include desktop-size {
          height: 300px;
          object-fit: cover; 
          overflow: hidden;
          padding-left: 0;
          padding-bottom: 2rem;
          padding-right: 4rem;
        }
      }
    }
    .featured-person-content {
      width: 90%;
      margin: 0 auto;
      padding: 2rem 0;
      .featured-person-name {
        font-size: 1rem;
        letter-spacing: 1px;
        font-family: $font__accent;
        line-height: 1px;
        margin-bottom: 0;
        margin-top: 1rem;
        text-align: left;
        @include desktop-size {
          font-size: 1.5rem;
          margin-top: 2rem;
          text-align: left;
        }
      }
      p {
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.5rem;
        @include desktop-size {
          font-size: 1rem;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
// leave this
#contact-container {
  position: absolute;
  top: -90px;
  @include desktop-size {
    top: -105px;
  }
}
