/*--------------------------------------------------------------
# Contact Us Page
--------------------------------------------------------------*/

.contact-us {
  text-align: center;
  .entry-header {
    @include page-title;
    margin: 0 auto 1rem;
    @include desktop-size {
      @include page-title;
      margin: 0 auto 4rem;
    }
  }
  .upper-content {
    @include desktop-size {
      display: flex;
      width: 70%;
      margin: 0 10rem;
      padding-bottom: 5rem;
    }
    @include large-desktop-size {
      margin: 0 13rem;
    }
    @include extra-large-desktop-size {
      margin: 0 17.5rem;
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin: 0 auto;
      max-width: 65%;
      font-family: Raleway, serif;
      font-weight: 500;
      padding-bottom: 1rem;
      @include tablet-size {
        max-width: 33%;
      }
      @include desktop-size {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 35%;
      }
      @include large-desktop-size {
        width: 25%;
      }
      @include extra-large-desktop-size {
        width: 20%;
      }
      i {
        display: inline;
        font-size: 1.5rem;
        @include desktop-size {
          font-size: 2rem;
        }
      }
      p {
        margin: 0 1rem;
        padding-bottom: 0.8rem;
        padding-left: 2rem;
        text-indent: -2.3rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
      a {
        padding-left: 1rem;
        font-size: 1rem;
        @include desktop-size {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    .map {
      border-top: 4px solid #4da7cd;
      @include desktop-size {
        border-top: none;
        max-width: 50%;
        padding-left: 3rem;
        padding-top: 1rem;
        border-left: 4px solid #4da7cd;
      }
    }
  }
  .contact-container {
    //gravity form css
    // Leave "position: relative;"
    position: relative;
    border: 1px solid #f2fafc;
    border-radius: 10%;
    padding: 0 1rem;
    background-color: #f2fafc;
    @include desktop-size {
      margin: 0 auto;
      width: 70%;
      border-radius: 5%;
    }
    .gform_title {
      font-family: Raleway, serif;
      font-weight: 550;
      text-align: center;
      padding-bottom: 1.5rem;
      @include desktop-size {
        font-size: 1.5rem;
      }
    }
    .gform_wrapper label.gfield_label {
      font-weight: 200;
      letter-spacing: 0.1rem;
      @include desktop-size {
        font-weight: 450;
        display: flex;
        padding-left: 13.3rem;
        letter-spacing: 0;
      }
      @include large-desktop-size {
        padding-left: 18rem;
      }
      @include extra-large-desktop-size {
        padding-left: 24.3rem;
      }
    }
    .gform_wrapper {
      .medium {
        @include desktop-size {
          width: 40%;
        }
      }
    }
    .gform_body {
      .gform_fields {
        @include desktop-size {
          text-align: center;
        }
      }
    }
    input[type='email'],
    input[type='password'],
    input[type='search'],
    input[type='text'],
    input[type='url'],
    textarea {
      border: 1.3px solid black;
    }
    .gform_footer {
      text-align: center;
      .gform_button {
        @include main-cta;
      }
    }
  }
  .featured-person {
    @include desktop-size {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 0 auto;
      padding: 2rem 0;
    }
    .featured-person-photo {
      border-bottom: 4px solid #4da7cd;
      @include desktop-size {
        border-bottom: none;
        border-right: 4px solid #4da7cd;
        margin-right: 4rem;
        padding-top: 2rem;
      }
      img {
        padding: 1rem;
        max-width: 320px;
        height: auto;
        @include desktop-size {
          max-width: 356px;
          height: auto;
          padding-left: 0;
          padding-bottom: 2rem;
          padding-right: 4rem;
        }
      }
    }
    .featured-person-content {
      width: 90%;
      margin: 0 auto;
      padding: 2rem 0;
      .featured-person-name {
        font-size: 1rem;
        letter-spacing: 1px;
        font-family: Raleway, serif;
        line-height: 1px;
        margin-bottom: 0;
        margin-top: 1rem;
        text-align: left;
        @include desktop-size {
          font-size: 1.5rem;
          margin-top: 2rem;
          text-align: left;
        }
      }
      p {
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.5rem;
        @include desktop-size {
          font-size: 1rem;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
// leave this
#contact-container {
  position: absolute;
  top: -90px;
  @include desktop-size {
    top: -105px;
  }
}
