/*--------------------------------------------------------------
# Find Page
--------------------------------------------------------------*/

.find-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    @include banner-img;
  }
  .find-header-container {
    @include page-title;
  }
  p {
    font-size: 14px;
    max-width: 750px;
    margin: inherit 30px;
    @include tablet-size {
      font-size: 16px;
      line-height: 1.8;
    }
  }
  p:first-of-type {
    margin: 10px 35px 20px 35px;
  }
  p:nth-of-type(2) {
    font-weight: 500;
    margin: 0 35px;
    @include desktop-size {
    }
  }
  .map-and-buttons {
    margin-top: 50px;
    max-width: 1000px;
    width: 100%;
    .error-message {
      color: red;
      text-align: center;
      font-size: 0.8rem;
      display: none;
      padding-top: 20px;
      &.ajax-error {
        display: block;
      }
    }
    #map-canvas {
      width: 100%;
      height: 60vh;
      .marker-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-height: 100px;
        .marker-popup {
          text-align: center;
          margin: 0;
          font-size: 1rem;
        }
      }
    }
    .locations-menu {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        width: 50%;
        height: 55px;
        border: 2px $color_button solid;
        @include tablet-size {
          width: 25%;
        }
        &:first-of-type {
          border-bottom: 0.5px $color_button solid;
          border-right: 0.5px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-right: 0.5px $color_button solid;
          }
        }
        &:nth-of-type(2) {
          border-bottom: 0.5px $color_button solid;
          border-left: 0.5px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-left: 0.5px $color_button solid;
            border-right: 0.5px $color_button solid;
          }
        }
        &:nth-of-type(3) {
          border-top: 0.5px $color_button solid;
          border-right: 0.5px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-left: 0.5px $color_button solid;
            border-right: 0.5px $color_button solid;
          }
        }
        &:last-of-type {
          border-top: 0.5px $color_button solid;
          border-left: 0.5px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-left: 0.5px $color_button solid;
          }
        }

        .fetch-property {
          font-size: 0.8rem;
          font-weight: 500;
          width: 100%;
          height: 100%;
          border: 0;
          background: none;
          line-height: 1;
          &:focus {
            outline: 0;
          }
          &:hover {
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1),
              0 5px 10px 0 rgba(0, 0, 0, 0.1);
            color: $color__link-hover;
          }
          &.selected {
            background-color: $color_button;
            color: black;
            box-shadow: none;
          }
        }
      }
    }
  }
  .find-form-container {
    height: 265px;
    width: 100%;
    max-width: 1000px;
    background: #e0f1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 0 18%;
    font-family: $font__accent;
    h2 {
      margin: 20px 0 0 0;
      font-size: 18px;
    }
    p {
      text-align: center;
      margin: 0 0 10px 0;
    }
    .find-form {
      height: 100px;
      width: 100%;
      background: white;
    }
    button {
      @include main-cta();
      margin-bottom: 15px;
    }
  }
  .more-info {
    margin: 0px 0 30px 0;
    h2 {
      margin: 0;
      font-size: 18px;
      .contraction {
        display: none;
        @include tablet-size() {
          display: inline;
        }
      }
    }
    button {
      @include main-cta();
      font-weight: 200;
    }
  }
}
