/*--------------------------------------------------------------
# Find Page
--------------------------------------------------------------*/

.find-page-container {
  img {
    @include banner-img;
  }
  h1 {
    @include page-title;
    font-size: 18px;
    margin-bottom: 15px;
  }
  p {
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    margin: 0 7%;
  }
  p:first-of-type {
    margin-bottom: 20px;
  }
  .map-and-buttons {
    margin-top: 50px;
    @include desktop-size {
      width: 800px;
    }
    .error-message {
      color: red;
      text-align: center;
      font-size: 0.8rem;
    }
    #map-canvas {
      width: 100%;
      height: 60vh;
      .marker-popup {
        margin: 0;
        font-size: 1rem;
        display: flex;
        align-items: center;
      }
    }
    .locations-menu {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        width: 50%;
        height: 55px;
        border: 2px $color_button solid;
        &:first-of-type {
          border-bottom: 0.5px $color_button solid;
          border-right: 0.5px $color_button solid;
        }
        &:nth-of-type(2) {
          border-bottom: 0.5px $color_button solid;
          border-left: 0.5px $color_button solid;
        }
        &:nth-of-type(3) {
          border-top: 0.5px $color_button solid;
          border-right: 0.5px $color_button solid;
        }
        &:last-of-type {
          border-top: 0.5px $color_button solid;
          border-left: 0.5px $color_button solid;
        }
        .fetch-property {
          font-size: 0.8rem;
          font-weight: 500;
          width: 100%;
          height: 100%;
          border: 0;
          background: none;
          line-height: 1;
          &:focus {
            outline: 0;
          }
          &.selected {
            background-color: $color_button;
          }
          &:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1),
              0 17px 50px 0 rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  .find-form-container {
    height: 265px;
    width: 100%;
    background: #e0f1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 0 18%;
    font-family: $font__accent;
    h2 {
      margin: 20px 0 0 0;
      font-size: 18px;
    }
    p {
      margin: 0 0 10px 0;
    }
    .find-form {
      height: 95px;
      width: 100%;
      background: white;
    }
    button {
      @include main-cta();
    }
  }
  .more-info {
    margin: 50px 0 30px 0;
    h2 {
      margin: 20px 0 0 0;
      font-size: 18px;
      .contraction {
        display: none;
        @include tablet-size() {
          display: inline;
        }
      }
    }
    button {
      @include main-cta();
    }
  }
}
