/*--------------------------------------------------------------
# Find Page
--------------------------------------------------------------*/

.find-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    @include banner-img;
  }
  .find-header-container {
    @include page-title;
  }
  p {
    font-size: 14px;
    max-width: 750px;
    margin: inherit 30px;
    @include tablet-size {
      font-size: 16px;
      line-height: 1.8;
    }
  }
  p:first-of-type {
    margin: 10px 35px 20px 35px;
  }
  p:nth-of-type(2) {
    font-weight: 500;
    margin: 0 35px;
    @include desktop-size {
    }
  }
  .map-and-buttons {
    margin-top: 50px;
    max-width: 1000px;
    width: 100%;
    @include large-desktop-size {
      max-width: 1250px;
    }
    @include extra-large-desktop-size {
      max-width: 1600px;
    }
    .error-message {
      @include error-message;
    }
    #map-canvas {
      width: 100%;
      height: 60vh;
      @include tablet-size {
        height: 65vh;
      }
      @include desktop-size {
        height: 70vh;
      }
      .marker-link {
        width: 100%;
        .marker-popup {
          text-align: center;
          font-size: 1rem;
          width: 100%;
          text-decoration: underline $color__link-hover solid;
        }
        img {
          margin: 5px 0 5px 0;
          width: 100%;
          height: 125px;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .gm-style-iw {
        width: 180px !important;
        height: 150px !important;
        top: 25px !important;
        left: 15px !important;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        margin: 0;
        & > div {
          width: 100%;
        }
      }
    }
    .locations-menu {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      @include large-desktop-size {
        margin-top: 20px;
      }
      li {
        width: 50%;
        height: 55px;
        border: 2px $color_button solid;
        @include tablet-size {
          width: 25%;
        }
        @include large-desktop-size {
          max-width: 250px;
          height: 65px;
        }
        &:first-of-type {
          border-bottom: 1px $color_button solid;
          border-right: 1px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-right: 1px $color_button solid;
          }
          @include large-desktop-size {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
        }
        &:nth-of-type(2) {
          border-bottom: 1px $color_button solid;
          border-left: 1px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-left: 1px $color_button solid;
            border-right: 1px $color_button solid;
          }
        }
        &:nth-of-type(3) {
          border-top: 1px $color_button solid;
          border-right: 1px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-left: 1px $color_button solid;
            border-right: 1px $color_button solid;
          }
        }
        &:last-of-type {
          border-top: 1px $color_button solid;
          border-left: 1px $color_button solid;
          @include tablet-size {
            border: 2px $color_button solid;
            border-left: 1px $color_button solid;
          }
          @include large-desktop-size {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }

        .fetch-property {
          font-size: 0.8rem;
          font-weight: 500;
          width: 100%;
          height: 100%;
          border: 0;
          background: none;
          line-height: 1;
          padding: 0 10px;
          @include button-hover;
          &:focus {
            outline: 0;
          }
          &.selected {
            background-color: $color_button;
            color: black;
            box-shadow: none;
          }
        }
      }
    }
  }
  .find-form-container {
    width: 100%;
    max-width: 1000px;
    min-height: 150px;
    background: #e0f1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    font-family: $font__accent;
    position: relative;
    @include large-desktop-size {
      max-width: 1260px;
    }
    @include extra-large-desktop-size {
      max-width: 1600px;
    }
    h2 {
      margin: 20px 0 5px;
      font-size: 18px;
      display: block;
      @include desktop-size {
        font-size: 28px;
      }
    }
    p {
      text-align: center;
      margin: 10px 0;
      max-width: 300px;
      @include desktop-size {
        font-size: 18px;
        line-height: 1.3;
      }
    }
    #gf_2 {
      position: absolute;
      top: -100px;
      @include desktop-size {
        top: -110px;
      }
    }

    .gform_wrapper {
      margin: 0;
      width: 320px;
      display: flex;
      align-items: center;
      @include tablet-size {
        width: 400px;
      }
      .gfield {
        margin-top: 0;
        width: 320px;
        @include tablet-size {
          width: 400px;
        }
      }
      .gfield_label {
        font-size: 14px;
        display: block;
        text-align: center;
        margin-top: 10px;
        @include desktop-size {
          font-size: 18px;
        }
      }
      .ginput_container {
        margin: 2px auto 25px;
        input {
          width: 100%;
        }
      }
      .gform_button,
      .gform_next_button,
      .gform_previous_button {
        @include main-cta;
        margin: 0 8px;
        display: block;
      }
      .gform_fields input {
        height: 40px;
      }
      .gform_footer,
      .gform_page_footer {
        margin: 0 0 25px;
        padding: 0;
        border-top: 0;
        justify-content: center;
        display: flex;
      }
      #input_2_1 {
        height: 40px;
      }
      .gfield_radio {
        margin: 0;
        input[type='radio'] {
          display: none;
          &:checked + label {
            background-color: $color_button;
            box-shadow: none;
          }
        }
        label {
          display: inline-block;
          background-color: white;
          padding: 10px 20px;
          font-size: 16px;
          border: 1px $color_button solid;
          width: 100%;
          margin: 0;
          @include button-hover;
          @include tablet-size {
            padding: 15px 20px;
          }
        }
        li {
          margin: 0;
          text-align: center;
        }
      }
      .validation_error {
        display: none;
      }
      .validation_message {
        padding: 0;
        font-size: 12px;
      }
      input[type='text'].medium {
        width: 100%;
      }
      .gfield_error {
        padding: 0;
        border: 0;
        margin-bottom: 25px;
        .ginput_container {
          margin: 5px 0 !important;
          input {
            width: 100%;
          }
        }
      }
    }
    .gform_confirmation_wrapper {
      width: 300px;
      text-align: center;
      padding: 20px 0 25px;
      margin: 10px 25px 30px;
      font-size: 14px;
      border-top: 1px $footer_darker_color solid;
      border-bottom: 1px $footer_darker_color solid;
      @include tablet-size {
        width: 450px;
        font-size: 16px;
      }
      @include desktop-size {
        font-size: 18px;
        width: 600px;
      }
    }
  }
  .more-info {
    margin: 0px 0 30px 0;
    h2 {
      margin: 0;
      font-size: 18px;
      .contraction {
        display: none;
        @include tablet-size {
          display: inline;
        }
      }
    }
    button {
      @include main-cta;
    }
  }
}
