/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  a {
    text-decoration: none;
    color: $color__background-body;
    &:hover {
      color: $color__link-hover;
    }
  }
  p {
    color: $color__background-body;
  }
  .widget {
    margin: 0;
  }
  .main-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      'contact address'
      'social address';
    background-color: $footer_lighter_color;
    padding: 1rem;
    @include tablet-size {
      grid-template-columns: 33.333% 33.333% 33.333%;
      grid-template-rows: none;
      grid-template-areas: 'contact address social';
    }
    .contact-info {
      grid-area: contact;
      color: $color__background-body;
      max-width: 100%;
      margin: 0 auto;
      @include desktop-size {
        margin: 0 auto;
        max-width: 55%;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-self: center;
      }
      p {
        margin: 0;
        text-align: left;
        line-height: 1.5rem;
        @include tablet-size {
          text-align: left;
          margin: 0.5rem 0;
        }
      }
      a {
        align-self: center;
        font-size: 16px;
        @include tablet-size {
          font-size: 18px;
        }
        @include desktop-size {
          font-size: 20px;
        }
      }
      .fa-phone {
        font-size: 14px;
        margin-right: 10px;
        @include tablet-size {
          font-size: 18px;
        }
        @include desktop-size {
          font-size: 24px;
        }
      }
      .fa-envelope {
        font-size: 14px;
        margin-right: 10px;
        @include tablet-size {
          font-size: 18px;
        }
        @include desktop-size {
          font-size: 24px;
          position: relative;
          bottom: -3px;
        }
      }
    }
    .social-media {
      grid-area: social;
      color: $footer_darker_color;
      display: flex;
      flex-direction: row;
      padding-top: 0.5rem;
      max-width: 100%;
      margin: 0 auto;
      @include phablet-size {
        max-width: 60%;
        margin: 0 auto;
        justify-content: center;
      }
      @include tablet-size {
        max-width: 100%;
        align-self: center;
        padding: 0;
      }
      @include desktop-size {
        max-width: 80%;
        margin: 0 auto;
        padding: 0;
        align-items: center;
      }
      @include large-desktop-size {
        max-width: 80%;
      }
      @include extra-large-desktop-size {
        max-width: 70%;
      }
      i {
        max-height: 2.5rem;
        max-width: 2.5rem;
        width: 2rem;
        height: 2rem;
        padding: 10px 0 0;
        text-align: center;
        border: 1px solid $color__background-body;
        border-radius: 50%;
        font-size: 18px;
        background-color: $color__background-body;
        color: $footer_lighter_color;
        transition: all 0.5s;
        @include phablet-size {
          height: 2.6rem;
          width: 2.6rem;
          font-size: 24px;
        }
      }
      a {
        padding: 0 5px;
        @include phablet-size {
          padding: 0 12px;
        }
        @include tablet-size {
          padding: 0 10px;
        }
        @include desktop-size {
          padding: 0 14px;
        }
        &:hover > * {
          transition: all 0.5s;
        }
        &:hover > .fa-facebook-f {
          background-color: #3b5998;
          border-color: #3b5998;
          color: white;
        }
        &:hover > .fa-twitter {
          background-color: #1da1f2;
          border-color: #1da1f2;
          color: white;
        }
        &:hover > .fa-linkedin-in {
          background-color: #0077b5;
          border-color: #0077b5;
          color: white;
        }
      }
    }
    .address {
      grid-area: address;
      justify-self: center;
      @include tablet-size {
        align-self: center;
      }
      @include desktop-size {
        display: flex;
        justify-content: center;
        padding: 0;
      }
      p {
        color: $color__background-body;
        margin: 0 0 0 30px;
        max-width: 130px;
        font-size: 16px;
        @include tablet-size {
          line-height: 1.1rem;
          text-align: left;
          font-size: 18px;
        }
        @include desktop-size {
          max-width: 140px;
          margin: 0 auto;
          align-self: center;
          font-size: 20px;
          line-height: 1.2rem;
        }
        @include large-desktop-size {
          margin: 0;
        }
        @include extra-large-desktop-size {
          max-width: 21%;
        }
        i {
          padding-right: 0.2rem;
          text-indent: -1rem;
        }
        .text {
          padding-left: 0.5rem;
          text-indent: -2rem;
          @include tablet-size {
            padding-left: 0;
            font-size: 0.9rem;
          }
        }
      }
      .footer-image {
        display: none;
        @include desktop-size {
          display: block;
          max-width: 260px;
          width: 95%;
        }
        @include large-desktop-size {
          max-width: 350px;
          width: 95%;
        }
      }
      .fa-map-marker-alt {
        font-size: 14px;
        @include desktop-size {
          display: none;
        }
      }
    }
  }
  .sub-footer {
    display: block;
    background-color: $footer_darker_color;
    height: 2.3rem;
    @include tablet-size {
      display: block;
      background-color: $footer_darker_color;
      height: 2.9rem;
    }
    .copyright {
      color: $color__background-body;
      text-align: center;
      padding-top: 0.5rem;
      font-size: 12px;
      font-weight: 200;
      @include tablet-size {
        padding-top: 0.7rem;
        font-size: 16px;
      }
      @include desktop-size {
        font-size: 0.9rem;
      }
    }
  }
}
