/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  a {
    text-decoration: none;
    color: $color__background-body;
    padding-left: 0.2rem;
    font-size: 0.8rem;
  }
  p {
    color: $color__background-body;
    font-size: 1.2rem;
  }
  .widget {
    margin: 0;
  }
  .main-footer {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    'a c'
    'b c';
    background-color: $footer_darker_color;
    .contact-info {
      grid-area: a;
      color: $color__background-body;
    }
    .social-media {
      grid-area: b;
      color: $color__background-body;
    }
    .address {
      grid-area: c;
      p {
        color: $color__background-body;
      }
      .footer-image {
        display: none; 
      }
    }
  }
  .sub-footer {
    display: none;
    @include desktop-size {
      display: block;
      background-color: $footer_darker_color;
      height: 2.9rem;
    }
    .copyright {
      color: $color__background-body;
      text-align: center;
      padding-top: 0.6rem;
      font-size: 12px;
      font-weight: 200;
    }
  }
}
