/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  a {
    text-decoration: none;
    color: $color__background-body;
  }
  p {
    color: $color__background-body;
    font-size: 1.2rem;
  }
  .main-footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
      'email-contact address'
      'social address';
    background-color: $footer_lighter_color;
    max-width: 100%;
    padding: 0.5rem;
    .widget_media_image {
      img {
        display: none;
        @include desktop-size {
          display: block;
          margin-left: 2rem;
        }
      }
    }
    #custom_html-3 {
      grid-area: social;
      width: 9.3rem;
      height: 100%;
      @include desktop-size {
        margin-right: 3rem;
      }
      p {
        text-align: center;
        width: 6.25rem;
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
      }
      .social-icons {
        .fa-twitter {
          @include desktop-size {
            padding: 0 1rem;
          }
        }
        @include desktop-size {
          padding-top: 5.4rem;
          padding-bottom: 6.6rem;
        }
        p {
          @include desktop-size {
            font-size: 3rem;
            padding: 0.5rem;
          }
        }
      }
    }
    #custom_html-2 {
      grid-area: email-contact;
      display: inline;
      @include desktop-size {
        margin-top: 5rem;
        margin-right: 10rem;
        margin-left: 5rem;
      }
      p {
        margin: 0;
        @include desktop-size {
          margin: 1rem 0;
        }
      }
    }
    #custom_html-4 {
      grid-area: address;
      color: $color__background-body;
      width: 10rem;
      margin-left: 2rem;
      @include desktop-size {
        margin-right: 10rem;
        margin-top: 6rem;
      }
      p {
        display: inline;
        padding-left: 0.5rem;
        @include desktop-size {
          padding: 0;
        }
      }
      .fa-map-marker-alt {
        @include desktop-size {
          display: none;
        }
      }
    }
    .contact-number {
      display: inline;
    }
    .social-icons {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    @include desktop-size {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1rem;
    }
  }
  .sub-footer {
    display: none;
    @include desktop-size {
      display: block;
      background-color: $footer_darker_color;
    }
    .copyright {
      color: $color__background-body;
      text-align: center;
    }
  }
}
