/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  a {
    text-decoration: none;
    color: $color__background-body;
  }
  .main-footer {
    display: grid;
    grid-template-columns: 40% 60%; 
    padding-left: 0.5rem;
  }
  .main-footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 45% 55%; 
    grid-template-rows: 30% 70%;
    grid-template-areas: 
    "email-contact address"
    "social address";
    background-color: $footer_lighter_color;
    max-width: 100%;
    padding: 0.5rem;
    .widget_media_image {
      img {
        display: none;
      }
    }
    #custom_html-3 {
      grid-area: social; 
      width: 33.3%;
      height: 100%;
      p {
        color: $color__background-body;
        font-size: 1.5rem;
        text-align: center;
        width: 6.25rem;
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
      }
    }
    #custom_html-2 {
      grid-area: email-contact;
      width: 9.3rem;
      p {
        color: $color__background-body;
        margin: 0;
      }
    }
    #custom_html-4 {
      grid-area: address; 
      color: $color__background-body;
      width: 10rem;
      p {
        color: $color__background-body;
        display: inline;
        padding-left: 0.5rem;
      }
    }
    .contact-number {
      display: inline;
    }
    .social-icons {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .address {
      top: 10px;
    }
  }
  .sub-footer {
    display: none; 
    @include desktop-size {
      .sub-footer {
        display: block;
        background-color: $footer_darker_color;
    }
  }
  @include desktop-size {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    }
  }
}
