/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  a {
    text-decoration: none;
    color: $color__background-body;
    font-size: 0.8rem;
  }
  p {
    color: $color__background-body;
    font-size: 1.2rem;
  }
  .widget {
    margin: 0;
  }
  .main-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      'contact address'
      'social address';
    background-color: $footer_lighter_color;
    padding: 1rem;
    @include tablet-size {
      grid-template-columns: 33.333% 33.333% 33.333%;
      grid-template-rows: none;
      grid-template-areas: 'contact address social';
    }
    .contact-info {
      grid-area: contact;
      color: $color__background-body;
      max-width: 100%;
      margin: 0 auto;
      @include desktop-size {
        padding-top: 2rem;
        margin: 0 auto;
        max-width: 55%;
      }
      @include large-desktop-size {
        padding-top: 3rem;
      }
      @include extra-large-desktop-size {
        padding-top: 3rem;
      }
      p {
        margin: 0;
        text-align: left;
        line-height: 1.5rem;
        @include tablet-size {
          text-align: left;
          margin: 0.5rem 0;
        }
      }
      a {
        padding-left: 0.3rem;
      }
      .fa-phone {
        font-size: 0.8rem;
        @include tablet-size {
          font-size: 1.3rem;
        }
      }
      .fa-envelope {
        font-size: 0.8rem;
        @include tablet-size {
          font-size: 1.3rem;
        }
      }
    }
    .social-media {
      grid-area: social;
      color: $footer_darker_color;
      display: flex;
      flex-direction: row;
      padding-top: 0.5rem;
      max-width: 100%;
      margin: 0 auto;
      @include phablet-size {
        max-width: 60%;
        margin: 0 auto;
        justify-content: center;
      }
      @include tablet-size {
        justify-content: space-between;
        max-width: 100%;
        padding-top: 1rem;
      }
      @include desktop-size {
        max-width: 80%;
        margin: 0 auto;
        padding-top: 3rem;
      }
      @include large-desktop-size {
        max-width: 80%;
        padding-top: 4rem;
      }
      @include extra-large-desktop-size {
        max-width: 70%;
      }
      i {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.5rem;
        text-align: center;
        border: 1px solid $color__background-body;
        border-radius: 50%;
        font-size: 1.3rem;
        background-color: $color__background-body;
        color: $footer_lighter_color;
        @include phablet-size {
          height: 2.6rem;
          width: 2.6rem;
        }
        @include desktop-size {
          height: 2.5rem;
          width: 2.5rem;
          padding: 0.6rem;
          font-size: 1.3rem;
        }
      }
      a {
        padding: 0 0.5rem;
      }
    }
    .address {
      grid-area: address;
      @include desktop-size {
        display: flex;
      }
      p {
        color: $color__background-body;
        margin: 0;
        max-width: 85%;
        padding-left: 2rem;
        line-height: 1.5rem;
        text-indent: -0.1rem;
        font-size: 0.8rem;
        @include phablet-size {
          max-width: 80%;
          padding-left: 4rem;
        }
        @include tablet-size {
          max-width: 60%;
          line-height: 1rem;
          padding-top: 1rem;
          text-indent: 0.1rem;
          text-align: left;
          padding-left: 0;
          margin: 0 auto;
        }
        @include desktop-size {
          max-width: 28%;
          padding-top: 2rem; 
          padding-left: 0.4rem;
        }
        @include large-desktop-size {
          max-width: 28%;
          padding-top: 3.5rem;
        }
        @include extra-large-desktop-size {
          max-width: 50%;
          padding-top: 4.5rem;
        }
        i {
          padding-right: 0.2rem;
          text-indent: -1rem;
        }
        .text {
          padding-left: 0.5rem;
          text-indent: -2rem;
          @include tablet-size {
            padding-left: 0;
            font-size: 0.9rem;
          }
        }
      }
      .footer-image {
        display: none;
        @include desktop-size {
          display: block;
          max-width: 230px;
        }
        @include large-desktop-size {
          max-width: 280px;
        }
        @include extra-large-desktop-size {
          max-width: 325px;
        }
      }
      .fa-map-marker-alt {
        font-size: 0.8rem;
        @include tablet-size {
          display: none;
        }
      }
    }
  }
  .sub-footer {
    display: block;
    background-color: $footer_darker_color;
    height: 2.3rem;
    @include tablet-size {
      display: block;
      background-color: $footer_darker_color;
      height: 2.9rem;
    }
    .copyright {
      color: $color__background-body;
      text-align: center;
      padding-top: 0.5rem;
      font-size: 12px;
      font-weight: 200;
      @include tablet-size {
        padding-top: 0.7rem;
      }
      @include desktop-size {
        font-size: 0.9rem;
      }
    }
  }
}
