/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  a {
    text-decoration: none;
    color: $color__background-body;
  }
  p {
    color: $color__background-body;
    font-size: 1.2rem;
  }
  .widget {
    margin: 0;
  }
  .main-footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      'email-contact address'
      'social address';
    background-color: $footer_lighter_color;
    max-width: 100%;
    padding: 0.5rem;
    .textwidget {
      .wp-image-117 {
        display: none; 
        @include desktop-size {
          display: block; 
          padding-top: 0.5rem;
          max-width: none;
          width: 17.2rem;
        }
      }
      p {
        margin: 0;
      }
    }
    #custom_html-3 {
      grid-area: social;
      height: 100%;
      padding-left: 2rem;
      @include desktop-size {
      padding-left: 7rem;
      padding-top: 4.5rem;
      }
      p {
        text-align: center;
        width: 6.25rem;
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        font-size: 2.5rem;
      }
      .social-icons {
        .fa-twitter {
          padding: 0 2rem;
        }
      }
    }
    .contact-email {
      grid-area: email-contact;
      width: 300px;
      padding-top: 1.5rem; 
      padding-left: 3rem;
      @include desktop-size {
        padding-top: 4rem; 
        padding-left: 9rem;
      }
      p {
        font-size: 1.1rem;
        @include desktop-size {
          margin: 1.5rem  0;
          font-size: 14px;
        }
      }
    }
    .text-flex {
      grid-area: address;
      color: $color__background-body;
      margin-left: 7rem;
      padding-left: 2rem;
      @include desktop-size {
        margin: 0;
      }
      .fas {
        padding-right: 0.2rem;
      }
      @include desktop-size {
        display: flex; 
      }
      p {
        display: inline;
        padding-left: 0.5rem;
        font-size: 1.1rem;
        @include desktop-size {
          width: 100%;
          padding: 0;
        }
      }
      .address {
        @include desktop-size {
          padding-left: 0.5rem;
          padding-top: 4rem;
          font-size: 14px;
          font-weight: normal;
          width: 100%;
        }
      }
      .fa-map-marker-alt {
        @include desktop-size {
          display: none;
        }
      }
    }
    .contact-number {
      display: inline;
    }
    .social-icons {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    @include desktop-size {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-areas:
        'email-contact address social';
    }
  }
  .sub-footer {
    display: none;
    @include desktop-size {
      display: block;
      background-color: $footer_darker_color;
    }
    .copyright {
      color: $color__background-body;
      text-align: center;
      padding-top: 1rem;
    }
  }
}
