/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

// flickity carousel global to all partials 
.main-carousel {
  padding-top: 30px;
  margin-bottom: 30px;

  @include desktop-size {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .carousel-cell {
    width: 100%;  
  }

  .flickity-prev-next-button {
    position: absolute;
  }

  button {
    display: none;

    @include desktop-size {
      display: inline;
      background: transparent;
      border: 0;
      margin: 0 -5rem;
      width: 70px;

      .arrow {
        fill: $border_color;
        height: 500px;      
      }
    }
  }
  
  img {
      object-fit: cover;
      overflow: hidden;
      height: 250px;

      @include desktop-size {
      height: auto;
      }
  }

  .flickity-page-dots  {
    .dot {
      background: transparent;
      border: 2px solid $border_color;
    }
    .is-selected {
      background: $border_color;

    }
  }
}


// styles applied only to front-page.php
.home {

  //header styles begin
  .hero-banner {
    position: relative;

    .header-info-box {
      position: absolute;
      top: 30px;
      left: 60px;

      @include desktop-size {
        top: 80px;
      }
      

      img {
        @include banner-img;
  
        @include desktop-size {
          height: auto;
        }
      }
      .company-header-info {
        opacity: 0.75;
        border-radius: 10px;
        background-color: #ffffff;
        position: absolute;
        height: 70px;
        width: 270px;
        padding-top: 10px;
        text-align: center;
        top: 45%;
        left: 15%;
  
        @include tablet-size {
          top: 60%;
          left: 30%;
        }
  
        @include desktop-size {
          height: 131px;
          width: 600px;
          top: 15%;
          left: -1%;
        }
  
        h1,
        p {
          margin: 0;
          color: #000;
          font-family: 'Raleway', sans-serif;  
          font-size: 16px;
  
          @include desktop-size {
            font-size: 18px;
            font-weight: 500;
          }
  
        }
  
        h1 {
          letter-spacing: 1.5px;
  
          @include desktop-size {
            font-size: 30px;
            font-weight: 600;
          }
  
        }
      }
  
      .mixin-button {
        @include main-cta;
        position: absolute;
        top: 45px;
        left: 75px;
        height: 30px;
  
        @include tablet-size {
          top: 260px;
          left: 260px;
        }
  
        @include desktop-size {
          top: 160px;
          left: 170px;
        }
  
        @include extra-large-desktop-size {
          top: 190px;
          left: 170px;
        }
      }

    }


  }

  .home-page {
    width: 90vw;
    margin: 0 auto;

    .post-58 {
      color: black;

      @include desktop-size {
        width: 800px;
        margin: 0 auto;
        font-size: 18px;
        text-align: justify;
      }
    }

    .front-page-headings {
      padding-top: 30px;
      text-align: center;
      position: relative;
      border-bottom: 5px solid $border_color;
      width: 180px;
      margin: 0 auto;
      font-family: 'Raleway', sans-serif;
      color: black;
      font-weight: normal;
    }

    //timeline section styles

    .timeline-section-wrapper {
      padding-top: 30px;
      width: 100%;   
      display: flex;
      flex-wrap: wrap;
      text-align: center;
  

      @include desktop-size {
        width: 80vw;
        margin: 0 auto;
        flex-wrap: no-wrap;
      }

      .timeline-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        position: relative;

        &:last-of-type {
          width: 100%;

          @include desktop-size {
            width: 20%;
          }
        }

        @include desktop-size {
          width: 20%;
        }

        .year {
          color: $timeline_font_color;
          font-family: $font__accent;
          font-weight: 600;
          width: 150px;
          height: 50px;

          p {
            margin: 0;
            padding-top: 15px;

            @include desktop-size {
              padding-top: 20px;
            }
          }

          @include desktop-size {
            width: 250px;
            height: 70px;
            font-size: 25px;
            margin-bottom: 0;
     
          }     
        }

        .year-entry-1 {
          background-color: #dcf2f8;
          
        }
      
        .year-entry-2 {
          background-color: #c3ecf8;
          
        }
      
        .year-entry-3 {
          background-color: #9ce0f3;
          
        }
      
        .year-entry-4 {
          background-color: #74d1eb;
          
        }
      
        .year-entry-5 {
          background-color: #56bfdc;
          
        }

        .timeline-line{
          content: '';
          width: 3px;
          height: 50px;
          background-color:#56BFDC;;

        }

        img {
          width: 150px;
          height: 150px;

          @include desktop-size {
            width: 180px;
            height: 180px;
            
          }
        }

        h3 {
          color: $timeline_bg_numbers;
          font-family: $font__accent;
          font-weight: 500;
          margin: 0;
          padding-top: 10px;

          @include desktop-size {
            font-size: 25px;
          }
        }
      }

      .timeline-block:nth-of-type(2),
      .timeline-block:nth-of-type(4) {
      .timeline-line {
          @include desktop-size {
            height: 2rem;
          }    
        }
      }

      .timeline-block:nth-of-type(1),
      .timeline-block:nth-of-type(3),
      .timeline-block:nth-of-type(5) {
        .timeline-line {
          @include desktop-size {
            height: 8rem;
          }    
        }

        .timeline-growth-numbers {
          @include desktop-size {
            top: 290px;
          } 

        }
      }

      }

        .timeline-growth-numbers {
          position: absolute;
          top: 180px;
          color: #ffffff;
          font-family: $font__accent;
          font-size: 20px;
          font-weight: 500;

          @include desktop-size {
            top: 200px;
            font-size: 25px;
          }

      }
    }

  }

  .partners-logo-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;


    @include desktop-size {
      justify-content: center;
      margin-left: 70px;
    }

    img {
      height: auto;
      width: auto;
      margin-right: 50px;

      @include desktop-size {
        height: 100px;
        width:200px;

      }
    }

  }
  
  .button-container {
    @include more-info;
    margin-top: 5rem;
  }
  
  a {
    text-decoration: none;
  }





