/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.main-carousel {
  padding-top: 30px;
  margin-bottom: 30px;

  .carousel-cell {
    width: 100%;
  }

  .flickity-prev-next-button {
    position: absolute;
  }

  button {
    display: none;
  }

  
  img {
      object-fit: cover;
      overflow: hidden;
      height: 250px;
  }


  .flickity-page-dots  {

    .dot {
      background: transparent;
      border: 2px solid $border_color;
    }

    .is-selected {
      background: $border_color;

    }
    
  }
}

.home {
  .hero-banner {
    position: relative;

    img {
      @include banner-img;
    }
    .company-header-info {
      opacity: 0.75;
      border-radius: 10px;
      background-color: #ffffff;
      position: absolute;
      height: 70px;
      width: 300px;
      text-align: center;
      top: 50%;
      left: 15%;

      h1 {
        font-size: 20px;
      }

      @include desktop-size {
        height: 131px;
        width: 650px;
      }

      h1,
      p {
        margin: 0;
        color: #000;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
      }
    }

    .mixin-button {
      @include main-cta;
      height: 40px;
      width: 130px;
    }

    .mixin-button {
      position: absolute;
      top: 73%;
      left: 35%;
    }
  }

  .home-page {
    width: 90vw;
    margin: 0 auto;

    article p {
      color: black;
    }

    .front-page-headings {
      padding-top: 30px;
      text-align: center;
      position: relative;
      border-bottom: 5px solid $border_color;
      width: 180px;
      margin: 0 auto;
      font-family: 'Raleway', sans-serif;
      color: black;
      font-weight: normal;
    }

    .timeline-section-wrapper {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;

      .timeline-block {
        width: 50%;
        text-align: center;

        .year {
          margin: 0 auto;
          padding: 10px 30px;
          height: 50px;
          width: 150px;
          color: $timeline_font_color;
          font-family: $font__accent;
          font-weight: 600;
          position: relative;
          &::before {
            content: '';
            width: 3px;
            height: 5rem;
            bottom: -50px;
            left: 70px;
            position: absolute;
            background: $border_color;
            z-index: -1;
          }
        }

        img {
          padding-top: 50px;
          width: 150px;
          position: relative;
        }
      }

      .timeline-growth {
        position: absolute;
      }

      .timeline-growth:first-of-type {
        top: 200px;
        right: 75px;
      }
      .timeline-growth-numbers:nth-of-type(2) {
        top: 200px;
        left: 200px;
      }
    }

    .one {
      background-color: #dcf2f8;
    }

    .two {
      background-color: #c3ecf8;
    }

    .three {
      background-color: #9ce0f3;
    }

    .four {
      background-color: #74d1eb;
    }

    .five {
      background-color: #56bfdc;
    }
  }

  .partners-logo-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
    }
    img:nth-of-type(2){
      height: 50px;
      width: 130px;
    }
    
    }

  
      .more-info {
        text-align: center;
        font-family: $font__accent;
        font-weight: normal;
    
      }
    
      .mixin-button {
        @include main-cta;
        height: 40px;
        width: 150px;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
       
    
      }

  

  
}
