/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.timeline-description {
  color:black;
}


.main-carousel {
  padding-top: 30px;
  margin-bottom: 30px;

  @include desktop-size {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 50px;

  }

  .carousel-cell {
    width: 100%;
    
  }

  .flickity-prev-next-button {
    position: absolute;
  }

  button {
    display: none;

    @include desktop-size {
      display: inline;
      background: transparent;
      border: 0;
      margin: 0 -5rem;
      width: 70px;

      .arrow {
        fill: $border_color;
        height: 500px;
        
      }
    }

  }
  
  img {
      object-fit: cover;
      overflow: hidden;
      height: 250px;

      @include desktop-size {
      height: auto;
  
      }
  }


  .flickity-page-dots  {

    .dot {
      background: transparent;
      border: 2px solid $border_color;
    }

    .is-selected {
      background: $border_color;

    }

    
  }
}

.home {

  .hero-banner {
    position: relative;

    img {
      @include banner-img;

      @include desktop-size {
        height: auto;
      }
    }
    .company-header-info {
      opacity: 0.75;
      border-radius: 10px;
      background-color: #ffffff;
      position: absolute;
      height: 70px;
      width: 270px;
      padding-top: 10px;
      text-align: center;
      top: 45%;
      left: 15%;

      @include tablet-size {
        top: 60%;
        left: 25%;

      }
      

      @include desktop-size {
        height: 131px;
        width: 600px;
        top: 15%;
        left: -1%;
      }

      h1,
      p {
        margin: 0;
        color: #000;
        font-family: 'Raleway', sans-serif;  
        font-size: 16px;

        @include desktop-size {
          font-size: 18px;
          font-weight: 500;
        }

      }

      h1 {
        letter-spacing: 1.5px;

        @include desktop-size {
          font-size: 30px;
          font-weight: 600;
        }

      }
    }

    .mixin-button {
      @include main-cta;
      position: absolute;
      top: 140px;
      left: 130px;

      @include tablet-size {
        top: 260px;
        left: 230px;

      }

      @include desktop-size {
        top: 160px;
        left: 170px;

      }

      @include extra-large-desktop-size {
        top: 190px;
        left: 170px;

      }
    }
  }

  

  .home-page {
    width: 90vw;
    margin: 0 auto;

    .post-58 {
      color: black;

      @include desktop-size {
        width: 800px;
        margin: 0 auto;
        font-size: 18px;
        text-align: justify;
      }
    }

    .front-page-headings {
      padding-top: 30px;
      text-align: center;
      position: relative;
      border-bottom: 5px solid $border_color;
      width: 180px;
      margin: 0 auto;
      font-family: 'Raleway', sans-serif;
      color: black;
      font-weight: normal;
    }

    .timeline-section-wrapper {
      padding-top: 30px;
      width: 100%;   
      display: flex;
      flex-wrap: wrap;
      text-align: center;
  

      @include desktop-size {
        width: 80vw;
        margin: 0 auto;
      }

      .timeline-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        position: relative;

        &:last-of-type {
          width: 100%;
        }
      
        @include desktop-size {

        }

        .year {
          color: $timeline_font_color;
          font-family: $font__accent;
          font-weight: 600;
          width: 150px;
          height: 50px;
          background-color: $timeline_bg;
          padding-top: 15px;

          @include desktop-size {
          }
        }

        .timeline-line{
          content: '';
          width: 3px;
          height: 50px;
          background-color: $timeline_bg_numbers;

          @include desktop-size {

          }

        }

        img {
          width: 150px;
          height: 150px;
        }

        h3 {
          color: $timeline_bg_numbers;
          font-family: $font__accent;
          font-weight: 500;
          margin: 0;
          padding-top: 10px;

          @include desktop-size {
          }
        }

        .lower-heading {
          @include desktop-size {
    
          }
        }

      }

        p {
          font-family: $font__main;
          line-height: 1.2;
          font-size: 14px;
          width: 150px;
          margin: 5px 0 15px 0;
      

          @include desktop-size {

        
          }

        }
      }

        .timeline-growth-numbers {
          position: absolute;
          top: 200px;
          color: #ffffff;
          font-family: $font__accent;
          font-size: 20px;
          font-weight: 500;
          @include desktop-size {
  

          }

      }


    }

    .one {
      background-color: #dcf2f8;
    }

    .two {
      background-color: #c3ecf8;
    }

    .three {
      background-color: #9ce0f3;
    }

    .four {
      background-color: #74d1eb;
    }

    .five {
      background-color: #56bfdc;
    }
  }



  .partners-logo-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include desktop-size {
      justify-content: center;
      margin-left: 70px;
    }
    img {
      height: auto;
      width: auto;

      @include desktop-size {
        height: 100px;
        width:200px;

      }
    }

  }
      .more-info {
        text-align: center;
        font-family: $font__accent;
        font-weight: normal;
        color: black;
        margin-top: 50px;
        margin-bottom: 0;

        @include desktop-size {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1px;
        }
    
      }
      
      .button-container {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    

        .mixin-button {
          @include main-cta;
        }

      }


  a {
    text-decoration: none;
  }


