/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.main-carousel {
  padding-top: 30px;
  margin-bottom: 30px;

  @include desktop-size {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 50px;

  }

  .carousel-cell {
    width: 100%;
    
  }

  .flickity-prev-next-button {
    position: absolute;
  }

  button {
    display: none;

    @include desktop-size {
      display: inline;
      background: transparent;
      border: 0;
      margin: 0 -5rem;
      width: 70px;

      .arrow {
        fill: $border_color;
        height: 500px;
        
      }
    }

  }
  
  img {
      object-fit: cover;
      overflow: hidden;
      height: 250px;

      @include desktop-size {
      height: auto;
  
      }
  }


  .flickity-page-dots  {

    .dot {
      background: transparent;
      border: 2px solid $border_color;
    }

    .is-selected {
      background: $border_color;

    }

    
  }
}

.home {
  .hero-banner {
    position: relative;

    img {
      @include banner-img;

      @include desktop-size {
        height: auto;
      }
    }
    .company-header-info {
      opacity: 0.75;
      border-radius: 10px;
      background-color: #ffffff;
      position: absolute;
      height: 70px;
      width: 270px;
      padding-top: 10px;
      text-align: center;
      top: 45%;
      left: 15%;
      

      @include desktop-size {
        height: 131px;
        width: 600px;
        top: 15%;
        left: -1%;
      }

      h1,
      p {
        margin: 0;
        color: #000;
        font-family: 'Raleway', sans-serif;  
        font-size: 16px;

        @include desktop-size {
          font-size: 18px;
          font-weight: 500;
        }

      }

      h1 {
        letter-spacing: 1.5px;

        @include desktop-size {
          font-size: 30px;
          font-weight: 600;
        }

      }
    }

    .mixin-button {
      @include main-cta;
      // height: 40px;
      // width: 130px;
      // position: absolute;
      // top: 73%;
      // left: 33%;

      // @include desktop-size {
      //   height: 50px;
      //   width: 230px;
      //   top: 37%;
      //   left: 12%;

      // }
    }

  }

  .home-page {
    width: 90vw;
    margin: 0 auto;

    .post-58 {
      color: black;

      @include desktop-size {
        width: 800px;
        margin: 0 auto;
        font-size: 18px;
        text-align: justify;
      }
    }

    .front-page-headings {
      padding-top: 30px;
      text-align: center;
      position: relative;
      border-bottom: 5px solid $border_color;
      width: 180px;
      margin: 0 auto;
      font-family: 'Raleway', sans-serif;
      color: black;
      font-weight: normal;
    }

    .timeline-section-wrapper {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;

      @include desktop-size {
        flex-wrap: no-wrap;
        width: 80vw;
        margin: 0 auto;
      }

      .timeline-block {
        width: 50%;
        text-align: center;

        @include desktop-size {
          display: flex;
          flex-direction: column;
          width: 20%;
        }

        .year {
          margin: 0 auto;
          padding: 10px 30px;
          height: 50px;
          width: 150px;
          color: $timeline_font_color;
          font-family: $font__accent;
          font-weight: 600;
          position: relative;
          &::before {
            content: '';
            width: 3px;
            height: 5rem;
            bottom: -50px;
            left: 70px;
            position: absolute;
            background: $border_color;
            z-index: -1;

            @include desktop-size {
              left: 110px;
              height: 10rem;
              bottom: -150px;
            }
          }

          @include desktop-size {
            height: 90px;
            width: 250px;
            font-size: 30px;
            padding: 20px 0;
            font-weight: 500;

          }
        }

        h3 {
          color: $timeline_bg_numbers;
          font-family: $font__accent;
          font-weight: 500;
          margin-bottom: 10px;
          margin-top: 0;

          @include desktop-size {
            padding-top: 10px;
            font-size: 25px;
        
          }
        }

        .lower-heading {
          @include desktop-size {
          margin-top: 100px; 
          }
        }

      }

        p {
          font-family: $font__main;
          line-height: 1.2;
          font-size: 14px;
          width: 130px;
          margin: 0 auto;
          margin-bottom: 20px;

          @include desktop-size {
            font-size: 18px;
            width: 170px;
        
          }

        }

        img {
          padding-top: 50px;
          width: 150px;
          position: relative;

          @include desktop-size {
            left:30px;  
            width: 180px;       
          }
        }

        .lower {
          @include desktop-size {
            top: 100px;  
          }

        }
      }

      .timeline-growth {
        color: white;
        font-family: $font__accent;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 1px;

        .timeline-growth-numbers {
          @include desktop-size {
            font-size: 30px;
            font-weight: bold;
            font-family: $font__main;

          }

        }


        .timeline-growth-numbers:first-of-type {
          left: 90px;
          position: absolute;
          bottom: -230px;  
          
          @include desktop-size {
            left: 240px;
            bottom: -580px;  
            
          }
        }

        .timeline-growth-numbers:nth-of-type(2) {
          left: 270px;
          position: absolute;
          bottom: -230px;      
          
          @include desktop-size {
            left: 470px;
            bottom: -490px; 
            
          }
        }

        .timeline-growth-numbers:nth-of-type(3) {
          left: 90px;
          position: absolute;
          bottom: -590px;    
          @include desktop-size {
            left: 700px;
            bottom: -580px;  
            
          }
        }

        .timeline-growth-numbers:nth-of-type(4) {
          left: 260px;
          position: absolute;
          bottom: -590px;    

          @include desktop-size {
            left: 930px;
            bottom: -490px;  
            
          }
        }

        .timeline-growth-numbers:nth-of-type(5) {
          left: 170px;
          position: absolute;
          bottom: -970px; 

          @include desktop-size {
            left: 1150px;
            bottom: -580px;  
            
          }
        }
      }


    }

    .one {
      background-color: #dcf2f8;
    }

    .two {
      background-color: #c3ecf8;
    }

    .three {
      background-color: #9ce0f3;
    }

    .four {
      background-color: #74d1eb;
    }

    .five {
      background-color: #56bfdc;
    }
  }



  .partners-logo-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include desktop-size {
      justify-content: center;
      margin-left: 70px;
    }

    img {
      width: 100px;
      height: 100px;

      @include desktop-size {
        width: 200px;
        height: 200px;
        margin-right: 50px;

      }
    }
    img:nth-of-type(2){
      height: 50px;
      width: 130px;

      @include desktop-size {
        width: 300px;
        height: 100px;
        margin-left: 100px;

      }
    }
    
    }
      .more-info {
        text-align: center;
        font-family: $font__accent;
        font-weight: normal;
        color: black;

        @include desktop-size {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1px;
        }
    
      }
    
      .mixin-button {
        @include main-cta;
        // height: 40px;
        // width: 130px;
        // margin: 0 auto;
        // display: block;
        // margin-bottom: 50px;
        // box-shadow: none;
        // font-weight: 500;
        // letter-spacing: 1px;

        // @include desktop-size {
        //   height: 50px;
        //   width: 230px;
        //   font-size: 18px;

        // }
        
      }

  a {
    text-decoration: none;
  }


