/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
a {
  text-decoration: none;
}

//header styles begin
.home {
  .home-background-box {
    @include desktop-size {
      @include texture-background;
    }
  }
  .hero-banner {
    position: relative;
    width: 100%;

    img {
      object-fit: cover;
      height: 200px;
    }

    @include desktop-size {
      img {
        width: 100%;
        height: 400px;
      }
    }

    .header-info-box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -20%);

      @include desktop-size {
        left: 15%;
        top: 30%;
      }

      .company-header-info {
        opacity: 0.75;
        border-radius: 10px;
        background-color: #ffffff;
        height: 70px;
        width: 270px;
        padding-top: 10px;
        text-align: center;

        @include tablet-size {
          height: 80px;
          width: 330px;
        }

        @include desktop-size {
          height: 130px;
          width: 650px;
          padding-left: 150px;
          opacity: 0.85;
        }

        @include extra-large-desktop-size {
          padding-left: 0px;
        }

        h1,
        p {
          margin: 0;
          color: #000;
          font-family: $font__accent;
          font-size: 16px;

          @include desktop-size {
            font-size: 18px;
            font-weight: 500;
            width: 100%;
          }
        }

        h1 {
          letter-spacing: 1.5px;

          @include tablet-size {
            font-size: 20px;
          }

          @include desktop-size {
            font-size: 30px;
            font-weight: 600;
          }
        }
      }

      .mixin-button {
        @include main-cta;
        position: relative;
        top: -10px;
        margin: 0 auto;
        display: block;

        @include tablet-size {
          top: -15px;
        }

        @include desktop-size {
          margin-right: 120px;
          top: -25px;
        }

        @include extra-large-desktop-size {
          margin: 0 auto;
        }
      }
    }
  }

  //main body styles
  .home-page {
    .post-58 {
      color: black;
      width: 90vw;
      margin: 0 auto;

      @include tablet-size {
        width: 70vw;
        margin: 0 auto;
        text-align: justify;
      }

      @include desktop-size {
        width: 800px;
        font-size: 18px;
        position: relative;
        top: -450px;
        margin-bottom: 10rem;
      }

      @include extra-large-desktop-size {
        font-size: 25px;
        width: 1100px;
        margin-bottom: 15rem;
      }
    }

    .front-page-headings {
      @include page-title;

      @include desktop-size {
        position: relative;
        top: -450px;
      }

      @include extra-large-desktop-size {
        margin: 100px auto 30px auto;
        font-size: 35px;
        width: 280px;
      }
    }

    .main-carousel {
      width: 90vw;
      margin: 0 auto;

      @include tablet-size {
        width: 650px;
        margin: 0 auto;
      }
      @include desktop-size {
        position: relative;
        top: -450px;
        margin-bottom: 8rem;
        width: 900px;
        height: 600px;
      }

      @include extra-large-desktop-size {
        width: 1100px;
        margin-bottom: 15rem;
      }

      .carousel-cell {
        .home-flickity-portfolio-info {
          display: none;
        }

        &:hover {
          @include desktop-size {
            .home-flickity-portfolio-info {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              color: black;

              .home-portfolio-heading {
                font-family: $font__accent;
                font-size: 35px;
              }

              .home-portfolio-description {
                font-family: $font__main;
                font-size: 20px;
                line-height: 20px;
              }
            }
          }
        }

        img {
          @include desktop-size {
            filter: brightness(75%);
            opacity: 100;
            width: 900px;
            height: 550px;
            transition: opacity 0.5s ease;

            &:hover {
              opacity: 0.3;
            }
          }
          @include extra-large-desktop-size {
            width: 1100px;
          }
        }
      }
    }

    //timeline section styles

    .timeline-section-wrapper {
      padding-top: 30px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      @include tablet-size {
        justify-content: space-around;
      }

      @include desktop-size {
        width: 80vw;
        margin: 0 auto;
        flex-wrap: no-wrap;
        position: relative;
        top: -450px;
        margin-bottom: 8rem;
      }

      .timeline-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        &:last-of-type {
          width: 100%;

          @include tablet-size {
            width: 33%;
          }

          @include desktop-size {
            width: 20%;
          }
        }

        @include tablet-size {
          width: 33%;
        }

        @include desktop-size {
          width: 20%;
        }

        .year {
          color: $timeline_font_color;
          font-family: $font__accent;
          font-weight: 600;
          font-size: 18px;
          width: 10rem;

          @include tablet-size {
            width: 70%;
          }

          @include desktop-size {
            width: 100%;
            font-size: 25px;
          }

          @include extra-large-desktop-size {
            p {
              font-size: 30px;
            }
          }
        }

        .year-entry-1 {
          background-color: #dcf2f8;
        }

        .year-entry-2 {
          background-color: #c3ecf8;
        }

        .year-entry-3 {
          background-color: #9ce0f3;
        }

        .year-entry-4 {
          background-color: #74d1eb;
        }

        .year-entry-5 {
          background-color: #56bfdc;
        }

        .timeline-line {
          content: '';
          width: 3px;
          height: 50px;
          background-color: #56bfdc;
        }

        .home-timeline-icon-box {
          position: relative;

          .timeline-growth-numbers {
            position: absolute;
            color: #ffffff;
            font-family: $font__accent;
            font-size: 22px;
            font-weight: 500;
            bottom: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include desktop-size {
              top: 50%;
              font-size: 28px;
            }
          }

          img {
            width: 150px;
            height: 150px;

            @include desktop-size {
              width: 180px;
              height: 180px;
            }

            @include extra-large-desktop-size {
              width: 210px;
              height: 210px;
            }
          }
        }

        h3 {
          color: $timeline_bg_numbers;
          font-family: $font__accent;
          font-weight: 500;
          margin: 0;
          padding-top: 10px;

          @include desktop-size {
            font-size: 25px;
          }

          @include extra-large-desktop-size {
            font-size: 30px;
          }
        }
      }

      .timeline-block:nth-of-type(2),
      .timeline-block:nth-of-type(4) {
        .timeline-line {
          @include desktop-size {
            height: 2rem;
          }
        }
      }

      .timeline-block:nth-of-type(1),
      .timeline-block:nth-of-type(3),
      .timeline-block:nth-of-type(5) {
        .timeline-line {
          @include desktop-size {
            height: 8rem;
          }
        }
      }
    }
  }

  .timeline-description {
    width: 90%;
    margin: 10px auto 30px auto;
    font-size: 14px;

    @include tablet-size {
      width: 80%;
      font-size: 16px;
    }
    @include extra-large-desktop-size {
      font-size: 20px;
    }
  }

  .button-container {
    @include more-info;
    margin-top: 5rem;

    @include desktop-size {
      position: relative;
      top: -200px;
      margin: 0;
    }
  }
}

.partners-logo-wrapper {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;

  @include tablet-size {
    width: 70vw;
  }

  @include desktop-size {
    position: relative;
    top: -420px;
    width: 50vw;
  }

  img {
    height: 60px;
    width: auto;

    @include phablet-size {
      height: 80px;
    }

    @include tablet-size {
      height: 100px;
    }

    @include desktop-size {
      height: 120px;
    }
  }
}
