/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

// flickity carousel global to all partials 
.main-carousel {
  padding-top: 30px;
  margin-bottom: 30px;

  .flickity-page-dots:empty {
    & + .previous {
      display: none;
      & + .next {
        display: none;
      }
    }
  }

  @include desktop-size {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .carousel-cell {
    width: 100%;  

    &:hover {
      opacity: 0.7;
      transition: opacity 0.2s ease-in;
    }
  }

  .flickity-prev-next-button {
    position: absolute;
  }

  button {
    display: none;

    @include desktop-size {
      display: inline;
      background: transparent;
      border: 0;
      margin: 0 -5rem;
      width: 70px;

      .arrow {
        fill: $border_color;
        height: 500px;      
      }
    }
  }
  
  img {
      object-fit: cover;
      overflow: hidden;
      height: 250px;

      @include desktop-size {
      height: auto;
      }
  }

  .flickity-page-dots  {
    .dot {
      background: transparent;
      border: 2px solid $border_color;
    }
    .is-selected {
      background: $border_color;

    }
  }
}


// styles applied only to front-page.php
.home {

  //header styles begin
  .hero-banner {
    position: relative;
    width: 100%;

    img {
			object-fit: cover;
      height: 200px;
    }
    
    @include desktop-size {  

      img {
        width: 100%;
        height: 400px;
      }
    }
   

    .header-info-box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-20%);

      @include desktop-size {
        left: 15%;
        top: 30%;
      }

      .company-header-info {
        opacity: 0.75;
        border-radius: 10px;
        background-color: #ffffff;
        height: 70px;
        width: 270px;
        padding-top: 10px;
        text-align: center;

        @include tablet-size {
          height: 80px;
          width: 330px;
        }

        @include desktop-size {
          height: 130px;
          width: 650px;
          padding-left: 150px;
          opacity: 0.85;
          
        }

  
        h1,
        p {
          margin: 0;
          color: #000;
          font-family: 'Raleway', sans-serif;  
          font-size: 16px;
  
          @include desktop-size {
            font-size: 18px;
            font-weight: 500;
            width: 100%;
            
          }
        }
  
        h1 {
          letter-spacing: 1.5px;

          @include tablet-size {
            font-size: 20px;
          }
  
          @include desktop-size {
            font-size: 30px;
            font-weight: 600;
          }
  
        }
      }
  
      .mixin-button {
        @include main-cta;
        position: relative;
        transform: translate(50%,-50%);

        @include tablet-size {
          transform: translate(40%,-70%);
        }

        @include desktop-size {
          transform: translate(120%,-70%);
          left: 0;
        }
      }

    }


  }

  .home-page {
    width: 90vw;
    margin: 0 auto;

    .post-58 {
      color: black;

      @include desktop-size {
        width: 800px;
        margin: 0 auto;
        font-size: 18px;
        text-align: justify;
      }

      @include extra-large-desktop-size { 
        font-size: 25px;
        width: 900px;
      }
    }

    .front-page-headings {
      @include page-title;

      @include extra-large-desktop-size {
        margin: 100px auto 30px auto;
        font-size: 35px;
        width: 280px;

      }
      
    }

    //timeline section styles

    .timeline-section-wrapper {
      padding-top: 30px;
      width: 100%;   
      display: flex;
      flex-wrap: wrap;
      text-align: center;
  

      @include desktop-size {
        width: 80vw;
        margin: 0 auto;
        flex-wrap: no-wrap;
      }

      .timeline-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
  

        &:last-of-type {
          width: 100%;

          @include desktop-size {
            width: 20%;
          }
        }

        @include desktop-size {
          width: 20%;
        }

        .year {
          color: $timeline_font_color;
          font-family: $font__accent;
          font-weight: 600;
          width: 150px;
          height: 50px;

          p {
            margin: 0;
            padding-top: 15px;

            @include desktop-size {
              padding-top: 20px;
            }
          }

          @include desktop-size {
            width: 250px;
            height: 70px;
            font-size: 25px;
            margin-bottom: 0;
     
          }     

          @include extra-large-desktop-size {
            width: 320px;
            height: 90px;

            p {
              font-size: 30px;
    
            }
            
          }
        }

        .year-entry-1 {
          background-color: #dcf2f8;
          
        }
      
        .year-entry-2 {
          background-color: #c3ecf8;
          
        }
      
        .year-entry-3 {
          background-color: #9ce0f3;
          
        }
      
        .year-entry-4 {
          background-color: #74d1eb;
          
        }
      
        .year-entry-5 {
          background-color: #56bfdc;
          
        }

        .timeline-line{
          content: '';
          width: 3px;
          height: 50px;
          background-color:#56BFDC;;

        }

        .home-timeline-icon-box {
          position: relative;

          .timeline-growth-numbers {
            position: absolute;  
            color: #ffffff;
            font-family: $font__accent;
            font-size: 20px;
            font-weight: 500;
            bottom:30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

            @include desktop-size {
              top: 55%;
              font-size: 25px;
            }

        }

        img {
          width: 150px;
          height: 150px;
          

          @include desktop-size {
            width: 180px;
            height: 180px;
            
          }

          @include extra-large-desktop-size { 
            width: 210px;
            height: 210px;
          }
        }

      }
        
        h3 {
          color: $timeline_bg_numbers;
          font-family: $font__accent;
          font-weight: 500;
          margin: 0;
          padding-top: 10px;

          @include desktop-size {
            font-size: 25px;
          }

          @include extra-large-desktop-size { 
            font-size: 30px;
          }
        }
      }

      .timeline-block:nth-of-type(2),
      .timeline-block:nth-of-type(4) {
      .timeline-line {
          @include desktop-size {
            height: 2rem;
          }    
        }
      }

      .timeline-block:nth-of-type(1),
      .timeline-block:nth-of-type(3),
      .timeline-block:nth-of-type(5) {
        .timeline-line {
          @include desktop-size {
            height: 8rem;
          }    
        }
      }
    }
    }

    .timeline-description {
      @include extra-large-desktop-size { 
        font-size: 20px;
      }
    }

  }

  .partners-logo-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-size {
      margin-left: 50px;
      justify-content: space-around;
      width: 600px;
      margin: 0 auto;
    }

    img {
      height: auto;
      width: auto;

      @include tablet-size {
        max-height: 100px;
        max-width: auto;

      }
    }

  }
  
  .button-container {
    @include more-info;
    margin-top: 5rem;
  }
  
  a {
    text-decoration: none;
  }





