/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/

.site-header {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px $border_color solid;
  background: white;
  @include desktop-size {
    height: 105px;
  }
  .site-branding {
    .header-logo {
      background: url(../../assets/images/logos/logo-horizontal.svg) no-repeat;
      background-size: 100% 100%;
      height: 50px;
      width: 215px;
      @include desktop-size {
        height: 68px;
        width: 231px;
        margin-left: 20px;
      }
    }
  }
  .menu-wrapper {
    .fas {
      font-size: 35px;
      display: block;
      @include desktop-size {
        display: none;
      }
      &::before {
        width: 100%;
        display: inline-block;
        text-align: right;
        padding-right: 25px;
      }
    }
  }
}

.main-navigation .menu {
  @include desktop-size {
    display: flex;
    margin: 0 40px;
    a {
      padding: 38px 25px;
      text-decoration: none;
      font-family: $font__accent;
      font-size: 1.1rem;
    }
    li {
      &:first-of-type {
        position: relative;
        &:hover > ul {
          position: absolute;
          top: 70px;
          left: -5px;
          width: 155px;
          background: white;
          display: flex;
          flex-direction: column;
          li {
            border-top: 1px $border_color solid;
            border-left: 1px $border_color solid;
            border-right: 1px $border_color solid;
            text-align: center;
            padding: 12px;
            &:last-of-type {
              border-bottom: 1px $border_color solid;
            }
            a {
              font-size: 1rem;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}

.site-header.toggle-menu {
  .main-navigation .menu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    > li {
      border-bottom: 1px $color__border-abbr solid;
      width: 100%;
      a {
        width: 100%;
        color: black;
        font-weight: 600;
        font-family: $font__accent;
        padding: 21.6px;
        text-align: center;
        display: block;
        text-decoration: none;
      }
      &.menu-item-has-children.toggle-sub-menu {
        > a {
          border-bottom: 1px $color__border-abbr solid;
        }
        ul {
          display: block;
        }
      }
    }
    .sub-menu.toggle-sub-menu {
      display: flex;
    }
  }
}

.logged-in {
  #wp-admin-bar-top-secondary,
  #wp-admin-bar-show_template_file_name_on_top {
    background: #23282d;
  }
  #wpadminbar {
    position: fixed;
  }
  .site-header {
    top: 46px;
    @include logged-in-tablet-size {
      top: 64px;
    }
    @include logged-in-desktop-size {
      top: 32px;
    }
  }
  .main-navigation .menu-clt-container .menu {
    top: 121px;
    @include logged-in-tablet-size {
      top: 139px;
    }
    @include logged-in-desktop-size {
      top: 107px;
    }
  }
}
