/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/

.site-header {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px $border_color solid;
  background: white;
  .site-branding {
    .header-logo {
      background: url(../../assets/images/logos/logo-horizontal.svg) no-repeat;
      background-size: 100% 100%;
      height: 50px;
      width: 215px;
    }
  }
  .menu-wrapper {
    .fas {
      font-size: 35px;
      display: block;
      &::before {
        width: 100%;
        display: inline-block;
        text-align: right;
        padding-right: 25px;
      }
    }
  }
}

.site-header.toggle-menu {
  .main-navigation .menu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    > li {
      border-bottom: 1px $color__border-abbr solid;
      width: 100%;
      a {
        width: 100%;
        color: black;
        font-weight: 600;
        font-family: $font__accent;
        padding: 21.6px;
        text-align: center;
        display: block;
        text-decoration: none;
      }
      &.menu-item-has-children.toggle-sub-menu {
        > a {
          border-bottom: 1px $color__border-abbr solid;
        }
        ul {
          display: block;
        }
      }
    }
    .sub-menu.toggle-sub-menu {
      display: flex;
    }
  }
}

.logged-in {
  #wp-admin-bar-top-secondary,
  #wp-admin-bar-show_template_file_name_on_top {
    background: #23282d;
  }
  #wpadminbar {
    position: fixed;
  }
  .site-header {
    top: 46px;
    @media screen and (min-width: 783px) {
      top: 64px;
    }
    @media screen and (min-width: 1196px) {
      top: 32px;
    }
  }
  .main-navigation .menu-clt-container .menu {
    top: 120px;
  }
}
