/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/

.site-header {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px $border_color solid;
  background: white;
  @include desktop-size {
    height: 105px;
    justify-content: space-around;
  }
  .site-branding {
    .header-logo {
      background: url(../../assets/images/logos/logo-horizontal.svg) no-repeat;
      background-size: cover;
      height: 55px;
      width: 190px;
      margin-left: 15px;
      @include desktop-size {
        height: 68px;
        width: 235px;
        margin-left: 20px;
      }
    }
  }
}

.main-navigation {
  .menu {
    @include desktop-size {
      display: flex;
      margin: 0 40px;
      a {
        padding: 38.5px 25px;
        text-decoration: none;
        font-family: $font__accent;
        font-size: 20px;
      }
      li {
        &:first-of-type {
          position: relative;
          &:hover > ul {
            position: absolute;
            top: 67px;
            left: 0px;
            width: 135px;
            background: white;
            display: flex;
            flex-direction: column;
            li {
              border-top: 1px $border_color solid;
              border-left: 1px $border_color solid;
              border-right: 1px $border_color solid;
              text-align: center;
              padding: 12px;
              &:last-of-type {
                border-bottom: 1px $border_color solid;
                a {
                  padding: 20px 35px;
                }
              }
              &:nth-of-type(2) {
                a {
                  padding: 20px 18px;
                }
              }
              &:first-of-type {
                border-top-width: 2px;
              }
              a {
                font-size: 1rem;
                padding: 20px 10px;
              }
            }
          }
        }
      }
    }
    .current-menu-item a,
    .current-menu-parent a,
    .current-page-item {
      background: $color_button;
    }
    .sub-menu {
      .current-menu-item {
        background: $color_button;
      }
      a {
        background: none;
      }
    }
  }
}
.site-header.toggle-menu {
  .main-navigation {
    .menu {
      position: fixed;
      top: 75px;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(255, 255, 255, 1);
      > li {
        border-bottom: 1px $color__border-abbr solid;
        width: 100%;
        a {
          width: 100%;
          color: black;
          font-weight: 600;
          font-family: $font__accent;
          padding: 21.6px;
          text-align: center;
          display: block;
          text-decoration: none;
        }
        &.menu-item-has-children.toggle-sub-menu {
          > a {
            border-bottom: 1px $color__border-abbr solid;
          }
          ul {
            display: block;
          }
        }
      }
      .sub-menu.toggle-sub-menu {
        display: flex;
      }
    }
  }
}
.logged-in {
  #wp-admin-bar-top-secondary,
  #wp-admin-bar-show_template_file_name_on_top {
    background: #23282d;
  }
  #wpadminbar {
    position: fixed;
  }
  .site-header {
    top: 46px;
    @include logged-in-tablet-size {
      top: 64px;
    }
    @include logged-in-desktop-size {
      top: 32px;
    }
  }
  .main-navigation .menu-clt-container .menu {
    top: 121px;
    @include logged-in-tablet-size {
      top: 139px;
    }
    @include logged-in-desktop-size {
      top: 107px;
    }
  }
}

// fancy hamburger animation stuff

.nav-icon {
  width: 38px;
  height: 30px;
  position: relative;
  margin: 15px 25px;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
  cursor: pointer;
  @include desktop-size {
    display: none;
  }
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #404040;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2) {
  top: 14px;
}

.nav-icon span:nth-child(3) {
  top: 28px;
}

.nav-icon.open span:nth-child(1) {
  top: 14px;
  transform: rotate(135deg);
}

.nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon.open span:nth-child(3) {
  top: 14px;
  transform: rotate(-135deg);
}
