//Media page styles
.blog {
  .media-background {
    @include desktop-size {
      @include texture-background;
    }
  }

  .page-header {
    img {
      object-fit: cover;
      height: 300px;

      @include tablet-size {
        @include banner-img;
      }
    }
  }

  .media-heading-box {
    @include page-title;
    text-align: center;
    width: 230px;
    font-size: 28px;

    h1 {
      display: inline-block;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 28px;
      margin: 0;
    }

    @include desktop-size {
      position: relative;
      top: -400px;
      margin-bottom: 0;
    }

    @include large-desktop-size {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .main-carousel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;

    @include tablet-size {
      width: 90%;
    }

    @include desktop-size {
      position: relative;
      top: -400px;
      margin-bottom: 2rem;
      width: 85%;
      max-width: 1200px;
    }

    .flickity-page-dots {
      @include desktop-size {
        display: none;
      }
    }
    .carousel-cell {
      display: flex;
      flex-direction: column;

      @include tablet-size {
        width: 48%;
        margin: 0.5rem;
      }

      @include desktop-size {
        width: 32%;
        margin: 1rem;

        &:hover {
          .media-thumbnail-box img {
            transform: scale(1.1);
          }
        }
      }

      .media-thumbnail-box {
        @include desktop-size {
          position: relative;
          overflow: hidden;
          height: 300px;
          width: 100%;
          transition: transform 0.4s;
        }

        img {
          filter: brightness(75%);
          @include desktop-size {
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.4s ease;
          }
        }
      }

      .media-page-info {
        height: 130px;
        background: $media_lighter_bg;
        width: 100%;

        @include desktop-size {
          height: 170px;
        }

        .media-carousel-title {
          width: 90%;
          margin: 10px auto;
          font-size: 16px;
          line-height: 25px;
          overflow: hidden;

          @include desktop-size {
            letter-spacing: 1px;
          }
        }

        .media-posted-on {
          text-align: right;
          font-family: $font__accent;
          letter-spacing: 2px;
          font-size: 14px;
          padding-right: 10px;
          padding: 10px 10px;
          margin: 0;
          width: 100%;

          @include desktop-size {
            font-size: 12px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  .media-inquiries {
    height: 150px;
    width: 100vw;
    background: $timeline_bg;
    text-align: center;
    padding: 50px 50px;

    @include desktop-size {
      width: 80vw;
      margin: 0 auto;
      height: 400px;
      background: #f0fafc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -250px;
    }

    span {
      width: 90vw;
      font-size: 14px;
      font-family: $font__accent;
      color: black;

      @include desktop-size {
        font-size: 25px;
        font-weight: bold;
        display: block;
        width: 45%;
      }
    }

    .cfs-hyperlink {
      font-weight: 500;
      text-decoration: underline;
      font-family: $font__accent;

      @include desktop-size {
        font-weight: 500;
        font-size: 20px;
        margin-top: 20px;
      }
    }
  }
}
