// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Media queries
@mixin tablet-size {
  @media screen and (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop-size {
  @media screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin large-desktop-size {
  @media screen and (min-width: $large-desktop-min-width) {
    @content;
  }
}

@mixin logged-in-tablet-size {
  @media screen and (min-width: 783px) {
    @content;
  }
}

@mixin logged-in-desktop-size {
  @media screen and (min-width: 1191px) {
    @content;
  }
}

// Green button mixin
@mixin main-cta {
  background-color: $color_button;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Roboto';
  color: black;
  border: 0;
  width: 120px;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 12px;
  &:hover {
    background-color: #a8be39;
    transition: 0.5s;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

@mixin banner-img {
  height: 200px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  @include tablet-size {
    height: 345px;
  }
  @include desktop-size {
    height: 460px;
  }
  @include large-desktop-size {
    height: 610px;
  }
}

@mixin page-title {
  font-weight: 500;
  display: block;
  margin: 0 auto; 
  width: 33%; 
  padding-top: 20px; 
  border-bottom: 4px solid #4da7cd;
}
