// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Media queries
@mixin tablet-size {
  @media screen and (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop-size {
  @media screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin logged-in-tablet-size {
  @media screen and (min-width: 783px) {
    @content;
  }
}

@mixin logged-in-desktop-size {
  @media screen and (min-width: 1191px) {
    @content;
  }
}

// Green button mixin
@mixin main-cta($length) {
}
