// rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// media queries
@mixin phone-size {
  @media screen and (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin phablet-size {
  @media screen and (min-width: $phablet-min-width) {
    @content;
  }
}

@mixin tablet-size {
  @media screen and (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop-size {
  @media screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin large-desktop-size {
  @media screen and (min-width: $large-desktop-min-width) {
    @content;
  }
}

@mixin extra-large-desktop-size {
  @media screen and (min-width: $desktop-max-width) {
    @content;
  }
}

@mixin logged-in-tablet-size {
  @media screen and (min-width: 783px) {
    @content;
  }
}

@mixin logged-in-desktop-size {
  @media screen and (min-width: 1147px) {
    @content;
  }
}

// green cta button mixin
@mixin main-cta {
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: $color_button;
  font-family: 'Roboto';
  color: black;
  border: 0;
  margin-top: 12px;
  height: 40px;
  &:hover {
    background-color: #a8be39;
    transition: 0.5s;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  @include desktop-size {
    height: 50px;
  }
  a {
    width: 120px;
    display: inline-block;
    padding: 7px 18px;
    font-size: 14px;
    @include tablet-size {
      font-size: 16px;
      width: 170px;
    }
    @include desktop-size {
      width: 220px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@mixin banner-img {
  height: 200px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  @include tablet-size {
    height: 345px;
  }
  @include desktop-size {
    height: 460px;
  }
  @include large-desktop-size {
    height: 610px;
  }
}

@mixin page-title {
  margin: 50px auto 30px auto;
  padding: 0;
  border-bottom: 3px $border_color solid;
  font-family: $font__accent;
  text-align: center;
  width: 170px;

  h1,
  h2 {
    margin: 20px 10px 0 10px;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;

    @include desktop-size {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  @include desktop-size {
    border-bottom: 4px $border_color solid;
    margin: 80px auto 30px auto;
  }
}

@mixin texture-background {
  @include desktop-size {
    background-image: url(../../assets/images/logo-banner.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 0;
  }

  @include large-desktop-size {
    height: 500px;
  }

  @include extra-large-desktop-size {
    height: 580px;
  }
}

@mixin button-hover {
  &:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    color: $color__link-hover;
  }
}

// used for failed js ajax requests
@mixin error-message {
  color: red;
  text-align: center;
  font-size: 0.8rem;
  display: none;
  padding-top: 20px;
  &.ajax-error {
    display: block;
  }
}

// do not change margins in the 'more-info' mixin,
// instead, change margins after your @include statement
// to override, each page with this mixin will be different
@mixin more-info {
  margin: 30px 0;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 18px;
    font-family: $font__accent;
    @include desktop-size {
      font-size: 32px;
    }
    .contraction {
      display: none;
      @include tablet-size {
        display: inline;
      }
    }
  }
  .cta-button {
    @include main-cta;
    @include desktop-size {
      margin-top: 40px;
    }
  }
}

// used for 'single' post views with navigation at the bottom
@mixin nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding-top: 40px;
  margin: 0 auto 60px;
  @include desktop-size {
    max-width: 500px;
  }
  .left,
  .middle,
  .right {
    @include button-hover;
    text-align: center;
    background-color: $color_button;
    width: 30%;

    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      margin: 0 10px 0 10px;
    }
    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      margin: 0 10px 0 10px;
    }
    &:empty {
      background-color: white;
      box-shadow: none;
    }
    a {
      width: 100%;
      display: inline-block;
      padding: 8px 0;
      @include tablet-size {
        padding: 12px 0;
      }
      @include desktop-size {
        padding: 15px 0;
      }
    }
  }
  .middle a {
    padding: 4px 0;
    line-height: 1.2;
    display: block;
    height: 100%;
    font-size: 16px;
    font-family: $font__main;
    @include tablet-size {
      font-size: 18px;
      line-height: 1.3;
    }
    @include desktop-size {
      font-size: 20px;
    }
    .break {
      display: block;
    }
  }
}
