// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Media queries
@mixin phablet-size {
  @media screen and (min-width: $phablet-min-width) {
    @content;
  }
}

@mixin tablet-size {
  @media screen and (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop-size {
  @media screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin large-desktop-size {
  @media screen and (min-width: $large-desktop-min-width) {
    @content;
  }
}

@mixin extra-large-desktop-size {
  @media screen and (min-width: $desktop-max-width) {
    @content;
  }
}

@mixin logged-in-tablet-size {
  @media screen and (min-width: 783px) {
    @content;
  }
}

@mixin logged-in-desktop-size {
  @media screen and (min-width: 1147px) {
    @content;
  }
}

// Green button mixin
@mixin main-cta {
  background-color: $color_button;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Roboto';
  color: black;
  border: 0;
  width: 120px;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 12px;
  height: 40px;
  &:hover {
    background-color: #a8be39;
    transition: 0.5s;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }

  @include desktop-size {
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: 500;
  }
}

@mixin banner-img {
  height: 200px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  @include tablet-size {
    height: 345px;
  }
  @include desktop-size {
    height: 460px;
  }
  @include large-desktop-size {
    height: 610px;
  }
}

@mixin page-title {
  margin: 0 auto 10px auto;
  display: inline-block;
  padding: 0;
  border-bottom: 3px $border_color solid;
  h1 {
    margin: 20px 10px 0 10px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    @include desktop-size {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  @include desktop-size {
    border-bottom: 5px $border_color solid;
  }
}

@mixin texture-background {
  @include desktop-size {
    background-image: url(../../assets/images/logo-banner.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 380px;
    margin-bottom: 0;
  }

  @include large-desktop-size {
    height: 420px;
  }

  @include extra-large-desktop-size {
    height: 580px;
  }
}

@mixin button-hover {
  &:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    color: $color__link-hover;
  }
}

@mixin error-message {
  color: red;
  text-align: center;
  font-size: 0.8rem;
  display: none;
  padding-top: 20px;
  &.ajax-error {
    display: block;
  }
}
