/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  clear: both;
  display: block;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      left: -999rem;
      top: 0;
    }

    li {
      &:hover > ul,
      &.focus > ul {
        left: 100%;
      }
    }

    a {
      width: 200px;
    }
  }

  li:hover > ul,
  li.focus > ul {
    left: auto;
  }
}
a {
  display: block;
  text-decoration: none;
}

.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a {
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }
}
