/*--------------------------------------------------------------
# Find Page
--------------------------------------------------------------*/

.find-page-container {
  img {
    height: 200px;
  }
  #map-canvas {
    width: 100%;
    height: 70vh;
  }
}
