/*--------------------------------------------------------------
# Single Media View Page
--------------------------------------------------------------*/
.media-container {
  .hentry {
    margin: 0;
  }
  .entry-header {
    img {
      @include banner-img;
      width: 100%;
      position: relative;
    }
    .title-date {
      border-bottom: 4px solid $border_color;
      @include desktop-size {
        border-bottom: none;
        padding: 1rem;
      }
      .entry-title {
        padding: 1rem;
        font-family: Raleway;
        font-size: 1.5rem;
        font-weight: 600;
        @include desktop-size {
          margin: 0;
        }
      }
      .entry-date {
        display: none;
        @include desktop-size {
          font-family: Raleway;
          display: block;
          padding-left: 1rem;
        }
      }
      @include desktop-size {
        position: absolute;
        top: 0;
        margin-top: 25rem;
        background-color: #ffffff;
        border-radius: 0 10px 10px 0;
        opacity: 0.75;
        color: #000000;
      }
    }
  }
  .single-content-container {
    @include texture-background;
    padding: 1rem;
    h2 {
      display: none;
      @include desktop-size {
        display: block;
        text-align: center;
      }
    }
    .wp-block-separator {
      display: none;
      @include desktop-size {
        display: block;
        width: 50%;
        height: 4px;
        background-color: $border_color;
      }
    }
    p {
      font-size: 1rem;
      @include desktop-size {
        width: 55%;
        margin: 0 auto;
      }
    }
  }
  .social-links {
    padding: 1rem;
    display: flex;
    align-items: center;
    @include desktop-size {
      margin: 0 auto;
      width: 55%;
    }
    .share {
      display: block;
      margin: 0 15px 0 0;
    }
    .media-share {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $footer_darker_color;
        margin: 8px;
        display: block;
        text-align: center;
        transition: all 0.6s;
        &:hover {
          transition: all 0.6s;
          cursor: pointer;
        }
        &.facebook:hover {
          background-color: #3b5998;
        }
        &.twitter:hover {
          background-color: #1da1f2;
        }
        &.linkedin:hover {
          background-color: #0077b5;
        }
        a {
          width: 100%;
          height: 100%;
          display: block;
        }
        .fab {
          font-size: 20px;
          color: white;
          position: relative;
          top: 50%;
          transform: translateY(-75%);
        }
      }
    }
  }
  .email-container {
    background-color: #e0f1f7;
    padding: 2.5rem 2.3rem;
    font-size: 12px;
    @include tablet-size {
      p {
        text-align: center;
      }
    }
    @include desktop-size {
      display: none;
    }
    a {
      text-decoration: underline;
      font-weight: 500;
    }
  }
}
.navigation-links {
  @include nav-links;
  .middle a {
    line-height: 1;
    padding-top: 1px;
    @include tablet-size {
      line-height: 1.1;
      padding: 5px 0;
    }
    @include desktop-size {
      padding: 8px 0;
    }
  }
}
