/*--------------------------------------------------------------
# Single Media View Page
--------------------------------------------------------------*/
.media-container {
  .hentry {
    margin: 0;
  }
  .entry-header {
    img {
      @include banner-img;
      width: 100%;
      position: relative;
    }
    .title-date {
      border-bottom: 4px solid $border_color;
      @include desktop-size {
        border-bottom: none;
        padding: 1rem;
      }
      .entry-title {
        padding: 1rem;
        font-family: Raleway;
        font-size: 1.5rem;
        font-weight: 600;
        @include desktop-size {
          margin: 0;
        }
      }
      .entry-date {
        display: none;
        @include desktop-size {
          font-family: Raleway;
          display: block;
          padding-left: 1rem;
        }
      }
      @include desktop-size {
        position: absolute;
        top: 0;
        margin-top: 25rem;
        background-color: #ffffff;
        border-radius: 10px;
        opacity: 0.75;
        color: #000000;
      }
    }
  }
  .single-content-container {
    @include texture-background;
    padding: 1rem;
    h2 {
      display: none;
      @include desktop-size {
        display: block;
        text-align: center;
      }
    }
    .wp-block-separator {
      display: none;
      @include desktop-size {
        display: block;
        width: 50%;
        height: 4px;
        background-color: $border_color;
      }
    }
    p {
      font-size: 1rem;
      @include desktop-size {
        width: 55%;
        margin: 0 auto;
      }
    }
  }
  .social-links {
    padding: 1rem;
    @include desktop-size {
      margin: 0 auto;
      width: 55%;
    }
    .share {
      display: flex;
      line-height: 2rem;
      justify-content: space-between;
      max-width: 55%;
      width: 160px;
      font-weight: 700;
      @include phablet-size {
        width: 175px;
        max-width: 40%;
      }
      @include tablet-size {
        max-width: 30%;
        width: 200px;
      }
      @include desktop-size {
        width: 480px;
        max-width: 30%;
      }
      @include large-desktop-size {
        width: 660px;
        max-width: 22%;
      }
      @include extra-large-desktop-size {
        width: 15%;
      }
    }
    i {
      height: 2rem;
      width: 2rem;
      padding: 0.4rem;
      text-align: center;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: #000;
      color: $color__background-body;
    }
  }
  .email-container {
    background-color: #e0f1f7;
    padding: 2.5rem 2.3rem;
    font-size: 12px;
    @include tablet-size {
      p {
        text-align: center;
      }
    }
    @include desktop-size {
      display: none;
    }
    a {
      text-decoration: underline;
      font-weight: 500;
    }
  }
}
.navigation-links {
  @include nav-links;
  .middle a {
    line-height: 1;
    padding-top: 1px;
    @include tablet-size {
      line-height: 1.1;
      padding: 5px 0;
    }
    @include desktop-size {
      padding: 8px 0;
    }
  }
}
