/*--------------------------------------------------------------
# Single Portfolio View Page
--------------------------------------------------------------*/

.single-portfolio-container {
  font-family: $font__accent;
  .hero-container {
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
    @include large-desktop-size {
      max-width: 1920px;
    }
    img {
      max-height: 520px;
      object-fit: cover;
      width: 100%;
      @include large-desktop-size {
        max-height: 550px;
      }
    }
    .title-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 20%);
      width: 275px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      @include tablet-size {
        transform: translate(-50%, 75%);
      }
      @include desktop-size {
        left: 0;
        transform: translate(0%, 0%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 150px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .portfolio-title {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        @include desktop-size {
          font-size: 32px;
        }
      }
    }
  }
  article {
    .flex-container {
      @include desktop-size {
        padding: 60px 0 0 60px;
        display: flex;
        justify-content: center;
        @include texture-background;
        height: 510px !important;
      }
    }
    .entry-content {
      padding: 0 25px;
      border-bottom: 4px $color__link-hover solid;
      margin-top: 5px;
      @include tablet-size {
        padding: 0 50px 50px;
      }
      @include desktop-size {
        width: 67%;
        border-bottom: 0;
        border-right: 4px $color__link-hover solid;
        margin-top: 0;
        max-width: 500px;
        max-height: 400px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 15px;

        @include tablet-size {
          font-size: 22px;
        }
        @include desktop-size {
          margin-top: 0;
          font-size: 24px;
        }
      }
      p {
        font-size: 18px;
        margin-top: 0;
        font-family: $font__main;
        @include tablet-size {
          font-size: 20px;
        }
      }
    }
    .fields-container {
      font-size: 18px;
      margin: 0 25px;
      font-family: $font__main;
      @include tablet-size {
        margin: 40px 50px;
        font-size: 20px;
      }
      @include desktop-size {
        width: 33%;
        margin: 40px 0 0 50px;
        max-width: 375px;
      }
      p {
        margin: 12px 0;
      }
      span,
      .field-title {
        font-weight: 700;
        margin-right: 10px;
      }
      .field-title-container {
        display: flex;
        p {
          margin-top: 0;
        }
      }
      .field-title {
        &.link {
          margin: 0 auto;
          display: block;
          text-align: center;
          text-decoration: underline;
          @include tablet-size {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .main-carousel {
    max-width: 900px;
    margin: 0 auto;
    @include tablet-size {
      padding-top: 0;
    }
    @include desktop-size {
      padding-top: 80px;
    }
    .carousel-cell {
      padding: 0 25px;
      @include tablet-size {
        padding: 0 50px;
      }
      img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        @include tablet-size {
          height: 300px;
        }
        @include desktop-size {
          height: 400px;
        }
        @include large-desktop-size {
          height: 500px;
        }
      }
    }
  }
  .navigation-links {
    @include nav-links;
    font-size: 16px;
    font-family: $font__main;
    @include tablet-size {
      margin-top: 30px;
    }
    @include desktop-size {
      font-size: 18px;
    }
  }
  .more-info {
    @include more-info;
  }
}
