// Structure

$mobile-min-width: 320px;
$tablet-min-width: 620px;
$desktop-min-width: 1080px;
$desktop-max-width: 1680px;

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: black;
$color__link-visited: black;
$color__link-hover: #15a9d1;

$color_button: #bed73d;
$border_color: #15a9d1;
$timeline_font_color: #005671;
$timeline_bg: #dcf2f8;
$timeline_bg_numbers: #3e92ac;
$footer_darker_color: #002436;
$footer_lighter_color: #00354f;
$media_lighter_bg: #f0fafc;

// Typography

$font__main: 'Roboto', sans-serif;
$font__accent: 'Raleway', sans-serif;

$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
